/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-latest-posts-sunflower-latest-posts {
	background-color: #9dc1d2;
	color: #fff;
	padding: 2px;
}
