@use "sass:map";

/**
 * Styles for the Sunflower Accordion Block
 */
.wp-block-sunflower-accordion {
    max-width: 100vw !important;
    width: calc(100% + var(--double-grid-margin)) !important;
    margin: 0 0 0 calc(-1 * var(--grid-margin)) !important;
    padding: calc(var(--half-grid-margin) / 2) var(--grid-margin) 0 var(--grid-margin);
    // background-color: map-get($custom-colors, "sand");

    @include themed-colorscheme-nested() {
        background-color: t(btn-pr-background);
        color: t(btn-sk-text);
    }

    @media (max-width: 480px) {
        padding-left: var(--grid-margin) !important;
        padding-right: var(--grid-margin) !important;
    }

    h4 {
        margin-bottom: 0 !important;
    }

    &:nth-of-type(even) {

        .accordion-button,
        .accordion-item {
            background-color: map-get($custom-colors, "gruener-sand") !important;
            border-radius: var(--border-radius-medium) !important;
        }
    }

    &:nth-of-type(odd) {

        .accordion-button,
        .accordion-item {
            background-color: map.get($custom-colors, "weiss") !important;
            border-radius: var(--border-radius-medium) !important;
        }
    }

    &:not(:is(.wp-block-sunflower-accordion + &)) {
        padding-top: var(--half-block-spacing);
        margin: var(--double-grid-margin) 0 0 calc(-1 * var(--grid-margin)) !important;
    }

    &:not(:has(+ .wp-block-sunflower-accordion)) {
        padding-bottom: var(--half-block-spacing);
        margin: 0 0 var(--double-grid-margin) calc(-1 * var(--grid-margin)) !important;
    }

    &:last-child {
        margin: 0 0 0 calc(-1 * var(--grid-margin)) !important;
    }


    .accordion-item {

        @include alignwide;

        @media (max-width: 1200px) {
            width: calc(100% - var(--double-grid-margin));
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        &:hover {
            outline: 2px solid map.get($custom-colors, "grashalm");
        }

        .accordion-header {

            .accordion-button {
                width: 100%;
                min-height: 80px;
                background-color: map-get($custom-colors, "weiss");
                justify-content: flex-start;
                align-items: center;
                display: inline-flex;
                flex-direction: row;
                padding: var(--grid-margin) var(--grid-margin) calc(var(--grid-margin) + 3px) var(--grid-margin);
                margin-left: auto;
                margin-right: auto;
                transition: 200ms ease;
                height: fit-content;
                border: 0 solid #fff;
                color: map-get($custom-colors, "tanne");

                font-family: var(--wp--preset--font-family--gruenetypeneue);
                font-weight: 400;
                line-height: 125%;
                font-size: 25px;
                letter-spacing: 0.8px;

                @include media-breakpoint-down(xl) {
                    font-size: 25px;
                }

                &:hover {
                    border: none !important;
                    outline: none !important;
                    background-color: map.get($custom-colors, "weiss");
                    color: map.get($custom-colors, "klee") !important;
                }

                &::before {
                    content: url("assets/img/arrow-right.svg");
                    display: inline-flex;
                    position: relative;
                    top: 2px;
                    transition: 300ms ease-out;
                    width: fit-content;
                    margin-right: 15px;
                }
            }
        }
    }

    .accordion-item:has(.accordion-button:not(.collapsed)) {

        .accordion-button {

            &::before {
                rotate: -90deg;
                top: -1px;
            }
        }
    }

    .accordion-collapse {
        padding: 0 var(--grid-margin) var(--half-grid-margin) var(--grid-margin);
    }
}


/**
 * Style for the WordPress Accordion Block
 */
.wp-block-accordion {


    .wp-block-accordion-item {

        @include themed-colorscheme-nested() {
            color: t(btn-sk-text);
        }

        &:hover {
            outline: 2px solid map.get($custom-colors, "grashalm");
        }

        &:nth-of-type(odd) {

            background-color: map.get($custom-colors, "weiss");
            border-radius: var(--border-radius-medium);
        }


        &:nth-of-type(even) {

            background-color: map-get($custom-colors, "gruener-sand");
            border-radius: var(--border-radius-medium);
        }

        .wp-block-accordion-heading {


            .wp-block-accordion-heading__toggle {

                border-radius: 0;

                &:focus,
                &:hover {
                    text-decoration: none;

                    .wp-block-accordion-heading__toggle-title {
                        text-decoration: none;
                    }
                }

                &-icon {

                    display: block;
                    width: 1em;

                    &::before {
                        content: url("assets/img/arrow-right.svg");
                        display: inline-flex;
                        position: relative;
                        transition: 300ms ease-out;
                        width: fit-content;
                        margin-right: 15px;
                    }
                }

                &-title {
                    padding-left: 2px;

                    @include themed-colorscheme-nested() {
                        color: t(btn-sk-text);
                    }
                }

                .wp-block-accordion-heading__toggle-icon,
                .wp-block-accordion-heading__toggle-title {

                    &:focus,
                    &:hover {
                        text-decoration: none;
                    }
                }
            }

        }

        &.is-open > .wp-block-accordion-heading .wp-block-accordion-heading__toggle-icon {
            transform: none;

            &::before {
                rotate: -90deg;
            }
        }
    }

}
