@use "sass:map";

// accordion block of the accordion-blocks plugin
.c-accordion {

    &__title {

        font-size: 1.1875rem;

        @include themed-colorscheme() {
            font-family: t(standardFont);
        }

        color: var(--wp--preset--color--white);
        padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--40);
        background-color: var(--bs-primary);
        border-radius: 6px;
        margin-bottom: 6px;

        &::before {
            display: none !important;
        }

        &::after {
            content: "";
            width: 1.25rem;
            height: 1.25rem;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: 1.25rem;
            transition: transform 0.2s ease-in-out;
            font-weight: 700;
            right: var(--wp--preset--spacing--50);
            color: var(--wp--preset--color--white);
        }

        &--button {

            &:hover,
            &:focus {
                background-color: var(--bs-primary);
                color: var(--wp--preset--color--white);
            }
        }

    }
}

.is-open {

    &.c-accordion {

        &__item {
            border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
            border-radius: 6px;
            margin-bottom: 6px;
        }

    }

    > .c-accordion {

        &__title {

            background-color: var(--bs-secondary);
            color: var(--wp--preset--color--white);

            &::after {
                content: "";
                transform: rotate(-180deg);
                top: auto;
            }

        }

        &__content {
            padding: 16px 20px;
        }
    }
}


.wp-block-sunflower-accordion {
    max-width: 100vw !important;
    width: 100vw !important;
    margin-left: calc(-1 * var(--grid-margin)) !important;
    margin-right: calc(-1 * var(--grid-margin)) !important;
    padding: calc(var(--half-grid-margin) / 2) 0;
    background-color: map-get($custom-colors, "sand") !important;

    &:nth-of-type(even) {

        .accordion-button,
        .accordion-item {
            background-color: map-get($custom-colors, "gruener-sand") !important;
            border-radius: var(--border-radius-medium) !important;
        }
    }

    &:nth-of-type(odd) {

        .accordion-button,
        .accordion-item {
            background-color: map.get($custom-colors, "weiss") !important;
            border-radius: var(--border-radius-medium) !important;
        }
    }

    &:not(:is(.wp-block-sunflower-accordion + &)) {
        padding-top: var(--half-block-spacing);
    }

    &:not(:has(+ .wp-block-sunflower-accordion)) {
        padding-bottom: var(--half-block-spacing);
    }


    .accordion-item {

        @include alignwide;

        .accordion-header {


            .accordion-button {
                width: 100%;
                min-height: 80px;
                background-color: map-get($custom-colors, "weiss");
                justify-content: flex-start;
                align-items: center;
                display: inline-flex;
                flex-direction: row;
                padding: 0 var(--grid-margin) 4px var(--grid-margin);
                margin-left: auto;
                margin-right: auto;
                transition: 200ms ease;

                font-family: "GrueneType Neue", sans-serif;
                line-height: 110%;
                font-weight: 900;
                font-size: 25px;
                letter-spacing: 0.5px;

                &:hover {
                    border: none !important;
                    outline: 2px solid map.get($custom-colors, "grashalm") !important;
                    background-color: map.get($custom-colors, "weiss");
                    color: map.get($custom-colors, "klee") !important;
                }

                &::before {
                    content: url("assets/img/arrow-right.svg");
                    display: inline-flex;
                    position: relative;
                    top: 2px;
                    transition: 300ms ease-out;
                    width: fit-content;
                    margin-right: var(--half-grid-margin);
                }
            }
        }
    }

    .accordion-item:has(.accordion-button:not(.collapsed)) {

        .accordion-button {

            &::before {
                rotate: -90deg;
                top: -1px;
            }
        }
    }

    .accordion-collapse {
        padding: 0 var(--grid-margin) calc(var(--half-grid-margin) / 2) var(--grid-margin);
    }
}
