.archive{
    a{
        text-decoration: none;
    }
    article{
        border-radius: $border-radius;
        overflow: hidden;
    }

    .page-header{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &-loop{
        .entry-content{
            a{
                color: $body-color;
            }
        }
    }
}
