.archive {

    a {
        text-decoration: none;
    }

    article {
        border-radius: $border-radius;
        overflow: hidden;
    }


    .page-header {
        padding: 15px 0;

        @include media-breakpoint-up(md) {
            padding: 80px 0;
        }
    }

    &-loop {

        .entry-content {

            a {
                color: $body-color;
            }
        }
    }

    .sunflower-categories {

        ul.wp-block-categories-list {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style-type: none;

            li {

                a {

                    @include themed-colorscheme() {
                        font-family: t(standardFont);
                    }

                    font-weight: 700;
                    font-size: 16px;
                    color: $black;
                    letter-spacing: 0.05em;
                    background: none;
                    border: 0;
                    padding: 0;
                    margin: 0 1em;
                    border-bottom: 2px solid transparent;
                    text-transform: uppercase;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        color: $primary;
                        border-bottom-color: $primary;
                    }

                }

                &.current-cat {
                    border-bottom: 2px solid $black;
                }
            }
        }

    }
}
