.wp-block-cover{
    font-family: ArvoGruen;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &__inner-container{
        max-width: map-get($container-max-widths, 'xl');
    } 
}

.wp-block-group{

    &.has-background{
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        padding: $grid-gutter-width 0;
        display: flex;
        justify-content: center;
    }

    &__inner-container{
        max-width: map-get($container-max-widths, 'xl');
    } 
}

.wp-block-media-text__media,
.wp-block-image{
    img{
        border-radius: $border-radius;
    }
}

.has-large,
.has-huge{
    &-font-size{
        font-family: ArvoGruen;
    }   
}

.wp-block-button__link{
    background-color: $primary;
    text-transform: uppercase;

    &:hover{
        background-color: $magenta;
    }
}

.wp-block-column{
    img{
        width: 100%;
        object-fit: cover;
    }
}

@include media-breakpoint-up(sm) { 
    .wp-block-column{
        img{
            max-height: 140px;
        }
    }
}

@include media-breakpoint-up(xl) { 
    .wp-block-column{
        img{
            max-height: 230px;
        }
    }
}
