.wp-block-cover{
    font-family: ArvoGruen;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &__inner-container{
        max-width: $container-max-width; 
    } 
}

.wp-block-media-text__media{
    img{
        border-radius: $border-radius;
    }
}

.has-large,
.has-huge{
    &-font-size{
        font-family: ArvoGruen;
    }   
}

.wp-block-button__link{
    background-color: $primary;
    text-transform: uppercase;
    font-style: italic;

    &:hover{
        background-color: $magenta;
    }
}