.wp-block-sunflower-meta-data{
    a{
        color: inherit;
        margin-right: 1.0em;
        &:hover{
            color: $primary;
        }
    }
}

.latest-posts{
    article{
        border-radius: $border-radius;
        margin-bottom: 10px;
        .post-thumbnail{
            img{
                border-radius: $border-radius $border-radius 0 0;
            }
        }
    }
}

.wp-block-sunflower-accordion:last-of-type{
    margin-bottom: 50px;
}



.person{
    img {
        height: 300px;
        max-height: 300px;
    }
}
