.bg-lightgreen {
    background-color: $lightgreen;
}

.bg-darkgreen {
    background-color: $darkgreen;
    color: $white;

    a:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 0.25rem #fff;
    }
}

@each $name, $code in $custom-colors {
    .has-#{$name}-color {
        color: $code !important;
    }

    .has-#{$name}-background-color {
        background-color: $code !important;
    }

    .has-#{$name}-hover-background-color:hover {
        background-color: $code !important;
    }
}

.has-white-color.has-tanne-background-color {

    a:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 0.25rem #fff;
    }

}
