.bg-lightgreen {
    background-color: $lightgreen;
}

.bg-darkgreen {
    background-color: $darkgreen;
    color: $white;

    a:focus-visible {
        outline: #fff solid 2px;
    }
}

@each $name, $code in $custom-colors {
    .has-#{"" + $name}-color {
        color: $code;
    }

    .has-#{"" + $name}-background-color {
        background-color: $code;
    }

    .has-#{"" + $name}-hover-background-color:hover {
        background-color: $code;
    }
}

/* Legacy: klee-700 → Klee (nicht im Backend wählbar) */
.has-klee-700-color {
    color: map-get($custom-colors, "klee");
}

.has-klee-700-background-color {
    background-color: map-get($custom-colors, "klee");
}

.has-klee-700-border-color {
    border-color: map-get($custom-colors, "klee");
}

.has-klee-700-hover-background-color:hover {
    background-color: map-get($custom-colors, "klee");
}

.has-white-color.has-tanne-background-color {

    a:focus-visible {
        outline: #fff solid 2px;
    }

}
