.bg-lightgreen {
    background-color: $lightgreen;
}

.bg-darkgreen {
    background-color: $darkgreen;
}


@each $name, $code in $custom-colors {
    .has-#{$name}-color {
        color: $code !important;
    }

    .has-#{$name}-background-color {
        background-color: $code !important;
    }

    .has-#{$name}-hover-background-color:hover {
        background-color: $code !important;
    }
}
