@use "sass:map";

.comment {

    &-list {
        list-style-type: none;
    }

    &s-title {
        text-align: left;
        margin: 50px 0;
    }

    .children {
        margin-bottom: 65px;
        margin-left: 40px;

    }

    &-body {

        footer {
            display: block;

            @include media-breakpoint-up(md) {
                display: flex;
            }

            .says {
                display: none;
            }

            .comment {

                &-author {

                    @include media-breakpoint-up(md) {
                        border-right: 1px solid $black;
                        padding-right: 10px;
                        margin-right: 10px;
                    }
                }

                &-metadata {
                    margin-bottom: 10px;

                    @include media-breakpoint-up(md) {
                        margin-bottom: 0;
                    }

                    a {
                        color: inherit;
                    }
                }
            }
        }

        .reply {
            text-align: right;
        }

        .comment-reply-link {
            text-transform: uppercase;
            color: $black;
            font-weight: 700;
        }
    }

    &-reply {

        &-title {
            text-align: left;
        }
    }


    &-respond {

        background-color: $white;
        border-radius: $border-radius;


        label {
            display: block;
        }

        .comment-form-cookies-consent {
            display: flex;
            align-items: center;

            label {
                display: inline;
                font-size: 15px;
            }
        }

        input[type="url"],
        input[type="text"],
        input[type="tel"],
        input[type="email"] {
            width: 100%;
        }
    }

    &-form {

        &-comment {}

        &-author,
        &-email,
        &-url {}

        &-meta {}

        &-cookies-consent {

            label {}
        }
    }
}

.form-submit {
    text-align: right;

    input {
        background-color: $secondary;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 4px;
        color: $white;
        padding: 10px 30px;
        border: 0;
        font-style: normal;
    }
}

.wp-block-comments {

    .wp-block-comment-template {
        margin-bottom: var(--grid-margin);

        .wp-block-comment-author-name,
        .wp-block-comment-date,
        .wp-block-comment-edit-link {
            display: inline;
            font-size: 16px !important;

            @include media-breakpoint-down(xl) {
                font-size: 14px !important;
            }
        }

        .wp-block-comment-author-name {
            font-style: italic;
        }

        .wp-block-comment-date time a {
            color: map.get($custom-colors, "tanne");
        }

        .wp-block-comment-reply-link {
            width: fit-content;
            margin-bottom: var(--half-grid-margin) !important;
        }
    }

    .comment {

        > .wp-block-columns {
            padding: var(--half-grid-margin) 0;
            gap: var(--grid-margin) !important;

            > .wp-block-column {
                flex-basis: auto !important;

                > .wp-block-group {
                    display: inline !important;
                }
            }

            > .wp-block-column:nth-of-type(1) {
                flex-basis: 40px !important;
                flex-grow: 0;
            }
        }

    }

    #submit {
        text-transform: math-auto;
    }
}

.comments-area {
    min-height: 100px;
}


.entry-content > .wp-block-latest-comments {
    margin-top: var(--half-block-spacing);
    margin-bottom: var(--half-block-spacing);
}

.wp-block-latest-comments {
    padding-left: 0;
}

time {
    font-weight: 700;
}

.logged-in-as {

    > * {

        &:last-child {
            display: block;
        }
    }
}

.commentbox #commentform {

    > div:nth-of-type(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    #submit {
        margin-top: var(--grid-margin);
        text-transform: none;
    }
}

.comments-area {

    .comments-title {
        margin-top: var(--double-grid-margin) !important;
        margin-bottom: 0 !important;
    }

    ol {
        padding-left: 0;
        margin-top: var(--half-grid-margin);


        .comment-author,
        .comment-metadata {
            font-size: 16px !important;
            border: none !important;

            @include media-breakpoint-down(xl) {
                font-size: 14px !important;
            }
        }

        .comment-author {
            font-style: italic;
        }

        .comment-metadata {
            color: map.get($custom-colors, "tanne");
        }

        .edit-link {
            color: map.get($custom-colors, "klee");
        }
    }

    .comment-reply-link {
        width: fit-content;
        text-transform: none;
        margin: var(--half-grid-margin) 0;
    }
}

.no-comments {
    font-weight: 700;
}

.wp-block-comments,
.commentbox,
.comments-area {

    .wp-block-comments-title,
    .comments-title {
        line-height: 130% !important;
        font-size: 25px !important;

        @include media-breakpoint-down(xl) {
            font-size: 27px !important;
        }
    }

    .comment-form,
    #commentform,
    .fieldcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .comment-form-comment,
    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
    .comment-form-cookies-consent {
        margin: var(--half-grid-margin) 0 !important;
    }

    .comment-form-comment {
        width: 100%;
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
    .comment-form-cookies-consent {
        width: calc(50% - var(--half-grid-margin));

        @media (max-width: 1350px) {
            width: 100%;
        }
    }

    .comment-reply-title {
        margin-bottom: var(--half-grid-margin) !important;
    }

    .comment-respond {
        overflow: hidden;
        border: 0 solid #fff;
        background-color: map.get($custom-colors, "sand");
        margin: 0;
        padding: calc(var(--grid-margin) - 4px) var(--grid-margin) var(--grid-margin) var(--grid-margin) !important;
    }

    .required-field-message,
    .logged-in-as,
    .comment-notes {
        font-size: 16px;
        line-height: 150%;
        width: 100%;

        @include media-breakpoint-down(xl) {
            font-size: 14px;
        }
    }

    .form-submit {
        margin-bottom: 0 !important;
        display: flex;
        justify-content: flex-end;
        width: 100%,;
    }

    .comment-form-cookies-consent {

        align-items: center;
        height: fit-content;

        input {
            height: 46px;
            flex: 0 0 46px;
            margin: 0 !important;
        }
    }
}

.comment-form-cookies-consent label {
    padding: 0 0 0 var(--half-grid-margin) !important;
}
