.comment {

    &-list {
        list-style-type: none;
    }

    &s-title {
        text-align: left;
        margin: 50px 0;
    }

    .children {
        border-left: 2px solid $primary;
        margin-bottom: 65px;
        margin-left: 0;

        @include media-breakpoint-up(md) {
            margin-left: 1.5em;
        }

    }

    &-body {

        footer {
            display: block;

            @include media-breakpoint-up(md) {
                display: flex;
            }

            .says {
                display: none;
            }

            .comment {

                &-author {

                    @include media-breakpoint-up(md) {
                        border-right: 1px solid $black;
                        padding-right: 10px;
                        margin-right: 10px;
                    }
                }

                &-metadata {
                    margin-bottom: 10px;

                    @include media-breakpoint-up(md) {
                        margin-bottom: 0;
                    }

                    a {
                        color: inherit;
                    }
                }
            }
        }

        .reply {
            text-align: right;
        }

        .comment-reply-link {
            font-style: italic;
            text-transform: uppercase;
            color: $black;
            font-weight: 700;
        }
    }

    &-reply {

        &-title {
            text-align: left;
        }
    }


    &-respond {

        background-color: $white;
        padding: 30px;
        border-radius: $border-radius;


        label {
            display: block;
        }

        .comment-form-cookies-consent {
            display: flex;
            align-items: center;

            input {
                width: 50px;
                height: 50px;
                margin-right: 1em;
            }

            label {
                display: inline;
                font-size: 15px;
            }
        }

        input[type="url"],
        input[type="text"],
        input[type="tel"],
        input[type="email"] {
            width: 100%;
        }
    }

    &-form {

        &-comment {}

        &-author,
        &-email,
        &-url {}

        &-meta {}

        &-cookies-consent {

            label {}
        }
    }
}

.form-submit {
    text-align: right;

    input {
        background-color: $secondary;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 4px;
        color: $white;
        padding: 10px 30px;
        border: 0;
        font-style: normal;
    }
}

.comments-area {
    min-height: 100px;
}
