@use "sass:map";

a.event-card {
    text-decoration: none;

    article {
        background-color: $white;
        height: 100%;
        min-height: 220px;

        @include media-breakpoint-down(xl) {
            min-height: 180px;
        }

        .mt-2 {
            margin-top: 0 !important;
        }

        .pt-2 {
            padding-top: 0 !important;
            padding-bottom: var(--grid-margin);
        }

        .text-uppercase {
            letter-spacing: 1.5px;
            margin-bottom: 2px;
        }

        .event-archive-meta {

            .event-archive-meta {

            }


            .date {

                font-size: 25px;
                font-family: var(--wp--preset--font-family--gruenetypeneue);
                margin-bottom: var(--half-grid-margin);
            }
        }
    }
}

.next-events {
    background-image: none;
    background-size: cover;
    background-position: top;

    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;

    .small {
        margin: 0 !important;
    }

    .row {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(10, minmax(0, 1fr));
        gap: var(--grid-margin);
        width: 100% !important;
        margin-bottom: var(--grid-margin) !important;

        article {
            box-shadow: 0 0 0 0 map.get($custom-colors, "grashalm") !important;
            height: fit-content;
            border: none;
            border-radius: var(--border-radius-medium);
            display: grid;
            grid-auto-flow: dense;
            gap: var(--grid-margin);
            position: relative;
            transition: 290ms ease-out;
            outline: 0 solid map.get($custom-colors, "weiss");

            &:hover {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                transition: 510ms ease-out;

                .event-card__icon--white,
                .event-card__icon--green {
                    transform: translateX(5px);
                }

                .event-card__media {
                    position: relative; // sicherstellen, dass margin wirkt
                    margin-top: -3px;
                    margin-bottom: -3px;
                    margin-left: -3px;

                    img {
                        scale: 1.05;
                    }
                }
            }

            .event-card__media {
                transition: 400ms ease-out;
                display: block;
                overflow: hidden;
                border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);

                img {
                    transition: 300ms ease-out;
                }
            }

            .wp-post-image {
                min-height: 100%;
                height: 180px;
                width: 100%;
                object-fit: cover;
            }

            h2 {
                font-size: 21px;
                color: map.get($custom-colors, "weiss");
                letter-spacing: 0.7px;
            }

            .p-4 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: calc(var(--grid-margin) - 3px) var(--grid-margin) calc(var(--grid-margin) - 4px) var(--grid-margin) !important;
            }

            .event-card__icon--green,
            .event-card__icon--white {
                position: absolute;
                bottom: calc(var(--grid-margin) - 3px);
                right: var(--grid-margin);
                transition: 400ms ease-out;
            }

            .event-card__icon--green {
                display: none;
            }

            &:has(.wp-post-image) {

                .p-4 {
                    padding: calc(var(--grid-margin) - 3px) var(--grid-margin) calc(var(--grid-margin) - 4px) 0 !important;
                }

                .date {

                    &::first-line {
                        color: map.get($custom-colors, "tanne"); // obere Zeile
                    }

                    color: map.get($custom-colors, "klee"); // untere Zeile
                }

                h2 {
                    font-size: 21px;
                    color: map.get($custom-colors, "klee");
                    letter-spacing: 0.6px;
                }

                &:has(.date br) {

                    .mt-2 h2 {
                        color: map.get($custom-colors, "klee");
                    }
                }
            }


            .fst-italic {
                position: relative;
                bottom: 0;
                letter-spacing: 0.6px;
            }
        }

        > .col-12 {
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;

            .small {
                color: map.get($custom-colors, "weiss");
                font-weight: 450;
            }

            .event-card__media {
                margin: 0;
                width: 100%;
            }

            &:nth-of-type(1),
            &:nth-of-type(6),
            &:nth-of-type(7),
            &:nth-of-type(12),
            &:nth-of-type(3),
            &:nth-of-type(18) {
                grid-column: span 4;
            }

            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(8),
            &:nth-of-type(9),
            &:nth-of-type(10),
            &:nth-of-type(11),
            &:nth-of-type(14),
            &:nth-of-type(15),
            &:nth-of-type(16),
            &:nth-of-type(17) {
                grid-column: span 3;
            }


            &:nth-of-type(odd) {

                article {
                    background-color: map.get($custom-colors, "tanne");
                    color: map.get($custom-colors, "weiss");

                    &:hover {
                        box-shadow: 0 0 0 3px map.get($custom-colors, "tanne") !important;
                    }
                }

            }

            &:nth-of-type(even) {

                article {
                    background-color: map.get($custom-colors, "klee");
                    color: map.get($custom-colors, "weiss");

                    &:hover {
                        box-shadow: 0 0 0 3px map.get($custom-colors, "klee") !important;
                    }
                }

            }


        }


        &:has(.event-card__media) {

            h2,
            .small {
                color: map.get($custom-colors, "klee");
            }

            .event-card__icon--green {
                display: block;
            }

            .event-card__icon--white {
                display: none;
            }

            .small {
                color: map.get($custom-colors, "schwarzwald");
            }

            .date {

                &::first-line {
                    color: map.get($custom-colors, "klee") !important; // obere Zeile
                }

                color: map.get($custom-colors, "tanne") !important; // untere Zeile
            }

            > .col-12 {

                &:nth-of-type(1),
                &:nth-of-type(4),
                &:nth-of-type(5),
                &:nth-of-type(8),
                &:nth-of-type(9),
                &:nth-of-type(12),
                &:nth-of-type(13),
                &:nth-of-type(16),
                &:nth-of-type(17),
                &:nth-of-type(20) {
                    grid-column: span 4;

                    @include media-breakpoint-down(xl) {
                        grid-column: span 5;
                    }

                    @include media-breakpoint-down(md) {
                        grid-column: span 10;
                    }

                    article {
                        grid-template-columns: repeat(4, minmax(0, 1fr));
                        background-color: map.get($custom-colors, "sand");
                        box-shadow: 0 0 0 0 map.get($custom-colors, "sand") !important;

                        &:hover {
                            box-shadow: 0 0 0 3px map.get($custom-colors, "sand") !important;
                        }

                        figure {
                            grid-column: span 2;

                            @include media-breakpoint-down(md) {
                                grid-column: span 1;
                            }
                        }

                        &:has(.event-card__media) {

                            .p-4 {
                                grid-column: span 2;
                            }
                        }

                        .p-4 {
                            grid-column: span 4;

                            @include media-breakpoint-down(md) {
                                grid-column: span 3;
                            }
                        }
                    }
                }

                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(6),
                &:nth-of-type(7),
                &:nth-of-type(10),
                &:nth-of-type(11),
                &:nth-of-type(14),
                &:nth-of-type(15),
                &:nth-of-type(18),
                &:nth-of-type(19) {
                    grid-column: span 6;

                    @include media-breakpoint-down(xl) {
                        grid-column: span 5;
                    }

                    @include media-breakpoint-down(md) {
                        grid-column: span 10;
                    }

                    article {
                        grid-template-columns: repeat(6, minmax(0, 1fr));
                        background-color: map.get($custom-colors, "gruener-sand");
                        box-shadow: 0 0 0 0 map.get($custom-colors, "gruener-sand") !important;

                        &:hover {
                            box-shadow: 0 0 0 3px map.get($custom-colors, "gruener-sand") !important;
                        }

                        &:has(.event-card__media) {

                            .p-4 {
                                grid-column: span 3;
                            }
                        }


                        figure {
                            grid-column: span 3;

                            @include media-breakpoint-down(md) {
                                grid-column: span 1;
                            }
                        }

                        .p-4 {
                            grid-column: span 6;

                            @include media-breakpoint-down(md) {
                                grid-column: span 3;
                            }
                        }
                    }
                }


                @include media-breakpoint-down(sm) {
                    grid-column: span 12;
                }
            }
        }

        @include media-breakpoint-down(md) {

            div {
                grid-column: span 12 !important;
            }

            div:nth-of-type(n+4) {
                display: none;
            }

            article {
                grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
                gap: 0;

                .p-4 {
                    grid-column: span 12 !important;
                    padding: calc(var(--grid-margin) - 3px) var(--grid-margin) calc(var(--grid-margin) - 4px) var(--grid-margin) !important;
                }
            }

            &:has(.event-card__media) article {

                .event-card__media {
                    grid-column: span 5 !important;
                }

                .p-4 {
                    grid-column: span 7 !important;
                    padding: calc(var(--grid-margin) - 3px) var(--grid-margin) calc(var(--grid-margin) - 4px) var(--grid-margin) !important;
                }

                &:not(.has-post-thumbnail) {

                    @include media-breakpoint-down(md) {

                        .p-4 {
                            grid-column: span 12 !important;
                        }
                    }
                }
            }
        }


    }


    @media (min-width: 1024px) {

        /* Karten MIT Bild bleiben 4/12 breit */
        @supports (selector(:has(*))) {

            .next-events .row > [class*="col-"]:has(article.has-post-thumbnail) {
                grid-column: span 4;
            }

            /* Karten OHNE Bild werden schmaler (3/12) -> mehr Rhythmus */
            .next-events .row > [class*="col-"]:not(:has(article.has-post-thumbnail)) {
                grid-column: span 3;
            }
        }
    }


    .wp-block-button.text-center {
        text-align: right !important;
    }


    @include media-breakpoint-down(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h2 {
        text-align: left;
    }

    .wp-block-group__inner-container {
        max-width: 1400px;
        width: 100%;
    }

}

#leaflet {
    height: 350px;
    margin-bottom: 100px;

    i {
        font-size: 60px;
    }
}

.leaflet {

    &-marker {

        strong {
            display: block;
            margin-bottom: 0.5em;
        }
    }
}
