.event{
    &-list{
        display: flex;
        flex-wrap: wrap;

        &>*{
            flex-basis: 30%;
            margin: 0 $grid-gutter-width $grid-gutter-width 0;
        }
    }
}

a.event-card{
    color: $body-color;
    text-decoration: none;

    article{
        background-color: $white;
        &:hover{
            color: $white;
            background-color: $primary;
        }
    }

    &:visited{
        color: $black;
        text-decoration: none;
    }

    &:hover{
        text-decoration: none   ;
    }
}