.event-card{
    .date{
        font-size: 150%;
    }
}

a.event-card{
    color: $body-color;
    text-decoration: none;

    article{
        background-color: $white;
        &:hover{
            color: $white;
            background-color: $primary;
        }
    }

    &:visited{
        color: $black;
        text-decoration: none;
    }

    &:hover{
        text-decoration: none   ;
    }
}