a.event-card {
    color: $body-color !important;
    text-decoration: none;

    article {
        background-color: $white;
        border-radius: $border-radius;
        height: 100%;

        h2 {
            color: $secondary;
        }

        .event-archive-meta {
            color: $darkgray;

            @include themed() {
                font-family: t("standardFont");
            }

            border-bottom: 1px solid $lightgray;
        }

        &:hover {
            box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
            margin-top: -0.2rem;
            margin-bottom: 0.2rem;
            transition: all 0.2s ease-out;
        }

        .date {

            @include themed() {
                font-family: t("standardFont");
            }

            font-weight: 700;
            font-size: 25px;
        }
    }
}

.next-events {
    background-image: url("assets/img/sunflower1.jpg");
    background-size: cover;
    background-position: top;
}

#leaflet {
    height: 350px;
    margin-bottom: 100px;

    i {
        font-size: 60px;
    }
}

.leaflet {

    &-marker {

        strong {
            display: block;
            margin-bottom: 0.5em;
        }
    }
}
