a.event-card{
    color: $body-color !important ;
    text-decoration: none;
   

    article{
        background-color: $white; 
        border-radius: $border-radius;
        height: 100%;

        .event-archive-meta{
            color: $primary;
        }

        &:hover{
            color: $white;
            background-color: $primary;

            .event-archive-meta{
                color: white;
            }
        }

        .date{
            font-family: 'PT Sans';
            font-weight: bold;
            font-size: 25px;
        }
    }

    &:visited{
        color: $black;
        text-decoration: none;
    }

    &:hover{
        text-decoration: none;
    }
}

.next-events{
    background-image: url('assets/img/sunflower1.jpg');
    background-size: cover;
    background-position: top;
}

#leaflet{
  height: 350px;
  margin-bottom: 100px;
  i{
      font-size: 60px;
  }
}