@font-face {
    font-family: GrueneType;
    src: url("assets/fonts/GrueneType-BlackCondensedItalic.eot");
    src:
        url("assets/fonts/GrueneType-BlackCondensedItalic.eot?#iefix") format("embedded-opentype"),
        url("assets/fonts/GrueneType-BlackCondensedItalic.woff2") format("woff2"),
        url("assets/fonts/GrueneType-BlackCondensedItalic.woff") format("woff"),
        url("assets/fonts/GrueneType-BlackCondensedItalic.ttf") format("truetype"),
        url("assets/fonts/GrueneType-BlackCondensedItalic.svg#GrueneType-BlackCondensedItalic") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: PTSans;
    src: url("assets/fonts/PTSans-Regular.eot");
    src:
        url("assets/fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("assets/fonts/PTSans-Regular.woff2") format("woff2"),
        url("assets/fonts/PTSans-Regular.woff") format("woff"),
        url("assets/fonts/PTSans-Regular.ttf") format("truetype"),
        url("assets/fonts/PTSans-Regular.svg#PTSans-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: PTSans;
    src: url("assets/fonts/PTSans-Bold.eot");
    src:
        url("assets/fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"),
        url("assets/fonts/PTSans-Bold.woff2") format("woff2"),
        url("assets/fonts/PTSans-Bold.woff") format("woff"),
        url("assets/fonts/PTSans-Bold.ttf") format("truetype"),
        url("assets/fonts/PTSans-Bold.svg#PTSans-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: PTSans;
    src: url("assets/fonts/PTSans-BoldItalic.eot");
    src:
        url("assets/fonts/PTSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("assets/fonts/PTSans-BoldItalic.woff2") format("woff2"),
        url("assets/fonts/PTSans-BoldItalic.woff") format("woff"),
        url("assets/fonts/PTSans-BoldItalic.ttf") format("truetype"),
        url("assets/fonts/PTSans-BoldItalic.svg#PTSans-BoldItalic") format("svg");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: PTSans;
    src: url("assets/fonts/PTSans-Italic.eot");
    src:
        url("assets/fonts/PTSans-Italic.eot?#iefix") format("embedded-opentype"),
        url("assets/fonts/PTSans-Italic.woff2") format("woff2"),
        url("assets/fonts/PTSans-Italic.woff") format("woff"),
        url("assets/fonts/PTSans-Italic.ttf") format("truetype"),
        url("assets/fonts/PTSans-Italic.svg#PTSans-Italic") format("svg");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: ForkAwesome;
    font-style: normal;
    font-weight: 400;
    src: url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.eot");
    src:
        url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.eot?#iefix") format("embedded-opentype"),
        url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.woff2") format("woff2"),
        url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.woff") format("woff"),
        url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.ttf") format("truetype"),
        url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.svg#forkawesomeregular") format("svg");
    font-display: block;
}

.forkawesome {
    font-family: ForkAwesome !important;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    text-rendering: auto;
    line-height: 1;
}

.gruenetype {
    font-family: GrueneType !important;
    font-weight: 500;
}

.ptsans {
    font-family: PTSans !important;
}

.ptsans {
    font-family: PTSans !important;
}
