@font-face {
    font-family: "GrueneType Neue";
    src:
        url("assets/fonts/GrueneTypeNeue-Regular.woff2") format("woff2"),
        url("assets/fonts/GrueneTypeNeue-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: ForkAwesome;
    font-style: normal;
    font-weight: 400;
    src: url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.eot");
    src:
        url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.eot?#iefix") format("embedded-opentype"),
        url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.woff2") format("woff2"),
        url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.woff") format("woff"),
        url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.ttf") format("truetype"),
        url("assets/vndr/fork-awesome/fonts/forkawesome-webfont.svg#forkawesomeregular") format("svg");
    font-display: block;
}

.forkawesome {
    font-family: ForkAwesome !important;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    text-rendering: auto;
    line-height: 1;
}

.gruenetype {
    font-family: GrueneType !important;
    font-weight: 500;
}

.ptsans {
    font-family: "PT Sans" !important;
}
