@use "sass:map";


.site-footer {

    padding: 70px var(--grid-margin) var(--grid-margin) var(--grid-margin);
    position: relative;

    @include media-breakpoint-down(md) {
        padding: var(--double-grid-margin) var(--grid-margin) var(--grid-margin) var(--grid-margin);
    }

    li {
        margin-bottom: 0;
        padding-left: 0;
    }

    .small {
        font-weight: 450;
    }

    &__content {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        color: map.get($custom-colors, "tanne");

        > div {
            gap: var(--grid-margin);

            @include media-breakpoint-down(md) {
                gap: var(--double-grid-margin);
            }
        }

        &--top {
            margin-bottom: 70px;

            @include media-breakpoint-down(md) {
                flex-direction: column;
                margin-bottom: var(--double-grid-margin);

                li {
                    padding-left: 0;
                }
            }
        }

        &--bottom {

            .footerlogo {
                width: fit-content;
                position: absolute;
                border-radius: var(--border-radius-large) 0 0 0;
                right: 0;
                bottom: 0;

                img {
                    height: 120px;
                    width: auto;
                    object-fit: contain;

                    &.custom-logo {
                        padding: var(--grid-margin) 0 0 var(--grid-margin);
                        max-width: 200px;
                    }
                }

                .concave-30px {

                    &:nth-of-type(1) {
                        left: -24px;
                        rotate: 90deg;
                        bottom: -4.3px;
                    }

                    &:nth-of-type(2) {
                        rotate: 90deg;
                        top: -34px;
                        right: -6px;
                    }
                }
            }

            @include media-breakpoint-down(xl) {
                flex-direction: column;
                align-items: flex-start;

                .d-flex {
                    width: 100%;
                }

                .footerlogo {
                    position: relative;
                    margin-bottom: calc(-1 * var(--grid-margin));
                    right: initial;
                    left: 0;
                    margin-left: calc(-1 * var(--grid-margin));
                    border-radius: 0;
                    width: calc(100% + var(--double-grid-margin));
                    padding: var(--half-grid-margin);
                    display: flex;
                    justify-content: center;

                    .concave-30px {
                        display: none;
                    }

                    img {
                        height: 70px;
                        max-height: 70px;
                        max-width: 70px;
                        opacity: 1 !important;
                    }
                }
            }

        }
    }

    .vendorflex {
        width: 33.3%;
        align-items: center;

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        p {
            margin-bottom: 0;
        }
    }

    .sunflower__socials {
        display: flex;
        gap: 0;
        height: calc(120px - var(--grid-margin));
        align-items: flex-end;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: calc(100vw - 280px);
        margin-left: -5px;

        @include media-breakpoint-down(md) {
            width: 100%;
            height: fit-content;
        }
    }

    .footermenu-1 {
        width: 33.3%;
        display: flex;
        justify-content: center;

        @include media-breakpoint-down(md) {
            justify-content: flex-start;
        }
    }

    .footermenu-2 {
        width: 33.3%;
        display: flex;
        justify-content: flex-end;

        @include media-breakpoint-down(md) {
            justify-content: flex-start;
        }
    }

    .social-media-profile {

        i {
            color: $black;
        }
    }

    a {

        font-family: var(--wp--preset--font-family--gruenetypeneue);

        &:focus-visible {
            outline: #fff solid 2px;
        }

        &[title="Menü erstellen"] {
            color: map.get($custom-colors, "klee");
        }


    }

    .navbar-nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;

        .nav-link {
            padding: 3px 0;
        }
    }

    #footer1 {
        min-width: calc(200px - var(--grid-margin));
    }

    #footer1,
    #footer2 {

        @include media-breakpoint-down(md) {
            line-height: 275%;
        }
    }

    a {
        color: map.get($custom-colors, "klee");

        &:hover {
            color: map.get($custom-colors, "tanne");
        }
    }

    hr {
        opacity: 0.6;
    }
}
