#colophon{
    background-color: $darkgray;
}

.social-media-profile{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    margin: 3px;
}
