.social-media-profile {
    width: 40px;
    height: 40px;
    display: flex;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    background: $white;
    border-radius: 50%;
    margin: 3px;

    i {
        color: $white;

    }
}

.site-footer {

    background-color: $darkgreen;
    color: $white;
    padding: 50px 0;

    .social-media-profile {

        i {
            color: $black;
        }
    }

    a {

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            color: $white-90;
            text-decoration: none;

        }

        &:focus-visible {
            outline: 0;
            box-shadow: 0 0 0 0.25rem #fff;
        }

    }

    .navbar-nav {
        flex-wrap: wrap;


        .nav-link {
            padding-left: 0;
        }
    }

    a {
        color: $white;

        &:hover {
            color: $white;
        }
    }

    hr {
        opacity: 0.6;
    }
}
