.opacity{
    &-0{
        opacity: 0 !important;
    }
}

.border-radius{
    border-radius: $border-radius;
}


.full-width{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}