#content{
    .entry-content p a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.opacity{
    &-0{
        opacity: 0 !important;
    }
}

.border-radius{
    border-radius: $border-radius;
}


.full-width{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.text-left{
    text-align: left;
}

.no-link{
    color: inherit;
    text-decoration: none;
    &:hover{
        color: $primary;
    }
    a{
        color: inherit;
        text-decoration: none; 
    }
}

.p-45{
    padding: 2.25rem !important;
}

.has-shadow{
    box-shadow: 0 1px 20px rgba(0, 84, 55, 0.09);
}

.max-800{
    max-width: 800px;
    margin: auto;
}
