.navbar{
    &-main{
        border-bottom: 1px solid $darkgray;
        transition: 0.3s;
    }

    &-main.stuck{
        font-size: 90%;
        .navbar-brand{
            width: 40px;
            opacity: 1;
        } 
    }
    &-brand{
        opacity: 0;
        width: 50px; 
        transition: opacity 0.3s;
        img{
            height: 2em;
        }
    }
}

.nav{
    &-item{
        a{
            color: $black;
        }
    }
}

.topmenu{
    background: $darkgreen;
}

body{
    &.search,
    &.home,
    &.archive{
        background-color: $lightgreen;
    }   
}

.bloginfo{
    background-image: url('assets/img/background.jpg');
    background-size: cover;
    img{
        width: 50px;
    }
}
