header{
    .social-media-profile{
        background: transparent;
    }
}

.navbar{
    &-main{
        border-bottom: 1px solid $darkgray;
        transition: 0.3s;
    }

    &-main.stuck{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 5000;
        .navbar-brand{
            opacity: 1;
        } 
    }
    &-brand{
        opacity: 0;
        width: 50px; 
        margin-left: 0.5rem;
        @include media-breakpoint-up(md) { 
            margin-left: 0;
        }
        img{
            height: 33px;
        }
    }
}

.nav{
    &-item{
        a{
            color: $black;
        }
    }
}

.topmenu{
    background: map-get($custom-colors, 'green-800');
}

body{
    &.search,
    &.home,
    &.page,
    &.archive,
    &.blog{
        background-color: $lightgreen;
    }   
}

.bloginfo{
    background-image: url('assets/img/background.jpg');
    background-size: cover;
    text-transform: uppercase;
    padding: 27px 0px;
    
    .img-container{
        margin-right: 0.75rem;
    }

    img{
        max-width: 55px;
        margin-right: 7px;
        background: transparent;
    }

    &-name{
        @include themed() {
            font-family: t('headingFontBold');
        }
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 1px;
        margin-bottom: 3px;
    }

    &-description{
        font-size: 17px; 
        letter-spacing: 0.2px;
        line-height: 1.3em;
    }


    @include media-breakpoint-up(md) { 
        padding-left: 12px;
        padding-right: 12px;


        &-name{
            font-size: 25px;
            margin-bottom: 0;
        }

        &-description{
            font-size: 18px; 
            line-height: 1.5em;
        }

        .img-container{
            margin-right: 0.25rem;
        }

        img{
            max-width: 60px;
        }
    }
}

.page-title{
    color: $darkgreen;
}


// to scroll to correct position with sticky header
// while destination is an anchor
.entry-content{
    h1,h2,h3,h4,h5,h6{
        &[id]::before{
            content: '';
            display: block;
            height:      75px;
            margin-top: -75px;
            visibility: hidden;
        }
    }
}

.header{
    &-personal{
        .bloginfo{
            background: none;
            padding: 0;
        }


       #mainmenu{
            &>.menu-item{
                display: flex;
                align-items: center;
                height: auto;
                padding-right: 5px;
                margin-right: 5px;

                @include media-breakpoint-up(md) { 
                    height: 5em
                }
            }

            &>.current-menu-item{
                background-color: $primary;
                a.nav-link{
                    color: $white;
                    border: 1px !important;

                    &:hover{
                        color: $primary;
                    }
                }
            }

            &>li.menu-item-has-children{
                flex-wrap: auto;
                @include media-breakpoint-up(md) { 
                    flex-wrap: nowrap;
                }
            }
        }

        .social-media-profile{
            background: none;
            i{
                color: $body-color;
            }
        }
    }
}

#navbar-sticky-detector.header-personal{
    height: 1px;
    background: white;
}

body.admin-bar {
    .navbar{
        &-main.stuck{
            top: 32px;
        }
    }
}
