header {

    .social-media-profile {
        background: transparent;
    }
}


body.admin-bar {

    .navbar {

        &-main.stuck {

            @include media-breakpoint-up(sm) {
                top: 47px;
            }

            @include media-breakpoint-up(md) {
                top: 32px;
            }
        }

    }

    .sunflower-icon {

        .ab-item {

            &::before {

                content: url("assets/img/sunflower.svg");
                width: 20px;
                height: 20px;
            }
        }
    }
}

.navbar {

    > .container {
        padding-left: 0;
    }

    &-main {
        border-bottom: 1px solid $darkgray;
        transition: 0.3s;

        .nav {

            &-item {

                a {
                    color: $black;
                }
            }
        }

    }

    &-main.stuck {
        position: fixed;
        width: 100%;

        top: 0;
        z-index: 50;

        .navbar-brand {
            opacity: 1;
            margin-left: 0.5rem;
            height: 100px;
            width: 100px;
            min-width: fit-content;
            background-color: $secondary;
            padding: 22px;

            @include media-breakpoint-up(md) {
                margin-left: 0;
            }

            @include media-breakpoint-down(sm) {
                height: 52px;
                width: 52px;
                padding: 10px;
            }

            img {
                height: 56px;
                display: block;

                @include media-breakpoint-down(sm) {
                    height: 32px;
                }
            }
        }

        .button-highlight-stuck {

            @include media-breakpoint-down(md) {
                display: block;
                background-color: $secondary;
                border-radius: 9999px;
                padding: 0.2rem 0.5rem;

                &:hover {
                    background-color: map-get($custom-colors, "sonne");
                    border-bottom: 4px solid $white;
                }

                a {
                    color: $white;
                    font-size: 14px;
                    padding: 11px 0 7px 0;
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                    text-transform: uppercase;

                    &:hover {
                        color: $black;
                    }
                }
            }
        }

    }

    &-brand {
        opacity: 0;
        margin-left: 0.5rem;

        padding: 2px;

        @include media-breakpoint-up(md) {
            margin-left: 0;
        }

        img {
            height: 60px;
        }
    }

    .button-highlight-stuck {
        display: none;
    }
}

.wp-custom-logo {

    .navbar {

        &-main.stuck {

            .navbar-brand {

                height: unset;
                width: unset;

                background-color: transparent;

                img {
                    height: 76px;
                }
            }
        }
    }
}

body {

    &.search,
    &.home,
    &.page,
    &.archive,
    &.blog {
        background-color: $white;
    }
}

.bloginfo {
    background-size: cover;
    text-transform: uppercase;
    padding: 27px 0;

    .img-container {
        margin-right: 0.5rem;

        &.sunflower-logo {

            img {
                width: 55px;
                background: transparent;
            }
        }

        &.custom-logo {

            img {
                max-width: 100px;
                max-height: 55px;
                object-fit: contain;
                object-position: right;
            }
        }

    }

    &-name {

        @include themed() {
            font-family: t(headingFontBold);
        }

        font-weight: 500;
        font-size: 22px;
        letter-spacing: 1px;
        margin-bottom: 3px;
    }

    &-description {
        font-size: 17px;
        letter-spacing: 0.2px;
        line-height: 1.3em;
    }

    @include media-breakpoint-up(md) {
        padding-left: 12px;
        padding-right: 12px;


        &-name {
            font-size: 25px;
            margin-bottom: 0;
        }

        &-description {
            font-size: 18px;
            line-height: 1.5em;
        }

        .img-container {
            margin-right: 1rem;

            &.custom-logo {

                img {
                    max-width: 150px;
                }
            }
        }
    }
}

// to scroll to correct position with sticky header
// while destination is an anchor
.entry-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        &[id]::before {
            content: "";
            display: block;
            height: 75px;
            margin-top: -75px;
            visibility: hidden;
        }
    }
}

.header {

    &-personal {

        .bloginfo {
            background: none;
            padding: 0;
        }

        .img-container {

            &.sunflower-logo {
                background-color: $secondary;
                width: 95px;
            }

            height: 95px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media-breakpoint-down(sm) {
                padding: 8px;
            }
        }

        img {
            height: 100%;
        }

        #mainmenu {

            > .menu-item {
                display: flex;
                height: auto;
                margin-right: 5px;
                align-items: center;

                @include media-breakpoint-up(md) {
                    height: 5em;
                }
            }

            > li.menu-item-has-children {
                flex-wrap: auto;

                @include media-breakpoint-up(md) {
                    flex-wrap: nowrap;
                }
            }
        }

        .social-media-profile {
            background: none;

            i {
                color: $body-color;
            }
        }
    }
}

#navbar-sticky-detector.header-personal {
    height: 1px;
    margin-top: -1px;
}

.stuck ~ #content {
    margin-top: 95px;

    // to scroll to correct position with sticky header
    // while destination is an anchor
    .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {

            &[id]::before {
                content: "";
                display: block;
                height: 95px;
                margin-top: -45px;
                visibility: hidden;
            }
        }
    }
}
