html, body {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    @include themed() {
        font-family: t('standardFont');
    }
}

.container-narrow{
    max-width: 900px;
}

.post-edit-link{
    color: $white;
    &:visited{
        color: $white;
    }
}

.icon{
    &-round{
        background: $black;
        color: $white;
        border-radius: 50%;
        padding: 10px;

        &:hover{
            background: $white;
            color: $black;
        }
    }

    &-inverse{
        background: $white;
        color: $black;

        &:hover{
            background: $black;
            color: $white;
        }
    }
}

img.post-thumbnail{
   object-fit: cover;
   object-position: center center;
   height: 100%;

   &.contain{
        object-fit: contain;
        object-position: center top;
   }
}

.entry{
    &-content{
        margin: 0;
        word-wrap: break-word;
    }
}

.page{
    &-title{
        margin-top: $grid-gutter-width;
    }
}


.social-media-sharers{
    display: flex;
    align-items: center;

    .sharer{
        background: $black;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3px;
        text-decoration: none;
        font-size: 16px;
        cursor:pointer;

        &:hover{
            background-color: $primary;
        }

        &:last-child{
            margin-right: 3rem;
        }
    }
}

article.post{
    h2{
        a{
            color: $body-color;
        }
    }

    .entry-header{
        &:hover{
           h2 a{
               color: $green-550;   
           }
        }
    }
}

a.continue-reading,
.continue-reading{
    padding-top: 10px;
    display: block;
    font-weight: bold;
    font-style: italic;
    color: $body-color;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        color: $primary;
    }
}

.filter-button-group{
    margin-top: -35px;
}
button.filter,
a.eventlist{
    @include themed() {
        font-family: t('standardFont');
    }
    font-weight: bold;
    font-size: 16px;
    color: $black;
    letter-spacing: 0.05em;
    background: none;
    border: 0;
    padding: 0;
    margin: 0 1em;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;

    &:focus{
        outline: none;
        box-shadow: none;
    }

    &:hover{
        color: $primary;
        border-bottom-color: $primary;
    }

    &.filter-active{
        border-bottom-color: $black;
        &:hover{
            border-bottom-color: $primary;
        }
    }
}

.sunflower-pagination{
    background: white;
    border-radius: $border-radius;
    display: flex;
    align-items: baseline;
    font-size: 80%;

    &>*{
        padding: 20px 30px;
        display: block;
    }

    .current{
        font-size: 150%;
    }

    .prev,.next{
        text-transform: uppercase;
        color: $black;
        font-style: italic;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;  
    opacity: 0;
    pointer-events: none;
}

iframe{
    border-radius: $border-radius;
}

.sunflower{
    &-has-background-dim{
        &>*{
            z-index: 30;
        }
        &:before{
            content: ""; 
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 20;
            opacity: .3;
            background-color: $black-500;
        }
    }
}

.related-posts{
    .entry-content{
        a{
            text-decoration: none;
            color: $body-color;
        }
    }
}