@use "sass:map";

html,
body {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

// standard header with navigation stucked
html {
    scroll-padding-top: 40px;

    @include media-breakpoint-up(sm) {
        scroll-padding-top: 90px;
    }
}

// personal header
html:has(.header-personal) {
    scroll-padding-top: 90px;
}

@include media-breakpoint-up(lg) {

    .container-narrow {
        max-width: 900px;

    }
}

.site-main {

    .page-header h1 {
        color: $secondary;
    }
}

.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
    max-width: 100%;
}

.col-12 {
    padding: 0 var(--grid-margin);
}

.post-edit-link {
    color: $white;

    &:visited {
        color: $white;
    }
}

.icon {

    &-round {
        background: $black;
        color: $white;
        border-radius: 50%;
        padding: 10px;

        &:hover {
            background: $white;
            color: $black;
        }
    }

    &-inverse {
        background: $white;
        color: $black;

        &:hover {
            background: $black;
            color: $white;
        }
    }
}

img.post-thumbnail {
    object-fit: cover;
    object-position: center center;
    height: 100%;

    &.contain {
        object-fit: contain;
        object-position: center top;
    }
}

.entry {

    &-content {
        margin: 0;
        word-wrap: break-word;
        hyphens: auto;
        hyphenate-limit-chars: auto 3 4;
    }
}

.page {

    &-title {
        text-align: center;
    }
}


.social-media-sharers {
    display: flex;
    align-items: center;

    .sharer {
        background: $black;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: $primary;
        }

        &:last-child {
            margin-right: 3rem;
        }
    }
}

.page .entry-content > :first-child {
    margin-top: 0;

    &.wp-block-group {
        padding-top: 0;
    }
}

article.post {

    h2 {

        a {
            color: $body-color;
        }
    }

    .entry-header {

        &:hover {

            h2 a {
                color: $primary;
            }
        }
    }
}

a.continue-reading,
.continue-reading {
    padding-top: 10px;
    display: block;
    font-style: italic;
    color: map.get($custom-colors, "tanne") !important;
    text-decoration: none;
    margin-bottom: -2px;
    transition: 300ms ease-out;

    &:hover {
        color: $primary;
    }
}

.filter-button-group {

    @include media-breakpoint-up(md) {
        margin-top: -35px;
    }

}

button.filter,
a.eventlist {

    // @include themed() {
    //     font-family: t(standardFont);
    // }

    font-weight: 700;
    font-size: 16px;
    color: $black;
    letter-spacing: 0.05em;
    background: none;
    border: 0;
    padding: 0;
    margin: 0 1em;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        color: $primary;
        border-bottom-color: $primary;
    }

    &.filter-active {
        border-bottom-color: $black;

        &:hover {
            border-bottom-color: $primary;
        }
    }
}

.sunflower-pagination {
    background: $white;
    border-radius: $border-radius;
    display: flex;
    align-items: baseline;
    font-size: 80%;

    > * {
        padding: 20px 30px;
        display: block;
    }

    .current {
        font-size: 150%;
    }

    .prev,
    .next {
        text-transform: uppercase;
        color: $black;
        font-style: italic;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    opacity: 0;
    pointer-events: none;
}

iframe {
    border-radius: $border-radius;
}

.sunflower {

    &-has-background-dim {

        > * {
            z-index: 30;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 20;
            opacity: 0.3;
            background-color: map.get($custom-colors, "weiss") !important;
        }

    }
}

.latest-posts--grid .archive-article,
.archive .archive-article {

    @include card;

    margin: 0 !important;

    @include media-breakpoint-down(md) {
        width: 100% !important;
    }
}

.full-width:has(.related-posts) {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;

    @include alignwide;

    .related-posts {

        padding: var(--half-block-spacing) 0 !important;

        .row {
            justify-content: space-between;
            column-gap: var(--grid-margin);

            .col-12.col-md-6 {
                padding: 0;
                width: calc(50% - var(--half-grid-margin));

                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
        }

        > div {

            width: 100%;
        }

        article {

            @include card;

            margin: var(--grid-margin) 0 !important;

            @include media-breakpoint-down(md) {
                width: 100% !important;
            }
        }

        a {
            text-decoration: none;
        }

        .entry-content {

            a {
                color: $body-color;
            }
        }

    }
}

:where(.is-layout-flex),
.wp-block-cover {
    gap: 0;

    h2 {
        margin-bottom: var(--grid-margin) !important;
    }

    p {
        margin-bottom: calc(var(--grid-margin) + 10px) !important;
    }

}


.wp-block-group {
    padding-top: var(--half-block-spacing);
    padding-bottom: var(--half-block-spacing);

    .wp-block-group {
        padding-top: var(--gap-large);
        padding-bottom: var(--gap-large);
    }

    &.wp-block-group-is-layout-flow > h2,
    .wp-block-group__inner-container > h2 {
        margin-bottom: var(--double-grid-margin);
    }

    h1,
    h2,
    h3,
    h4,
    .h1,
    .h2,
    .h3,
    .h4 {
        margin-top: 0;
    }

}
