body{
    font-family: PTSans;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: ArvoGruen;

    a{
        text-decoration: none;
    }
}

.post-edit-link{
    color: $white;
    &:visited{
        color: $white;
    }
}

.icon{
    &-round{
        background: $black;
        color: $white;
        border-radius: 50%;
        padding: 10px;

        &:hover{
            background: $white;
            color: $black;
        }
    }

    &-inverse{
        background: $white;
        color: $black;

        &:hover{
            background: $black;
            color: $white;
        }
    }
}

img.post-thumbnail{
   object-fit: cover;
   object-position: center center;
   height: 100%;

   &.contain{
        object-fit: contain;
        object-position: center top;
   }
}

.entry{
    &-content{
        margin: 0;
    }
}

.page{
    &-title{
        margin-top: $grid-gutter-width;
    }
}
