@use "sass:map";

html,
body {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

// standard header with navigation stucked
html {
    scroll-padding-top: 40px;

    @include media-breakpoint-up(sm) {
        scroll-padding-top: 90px;
    }
}

@include media-breakpoint-up(lg) {

    .container-narrow {
        max-width: 900px;

    }
}

.site-main {

    .page-header h1 {
        color: $secondary;
    }
}

.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
    max-width: 100%;
}

.col-12 {
    padding: 0 var(--grid-margin);
}

.post-edit-link {
    color: $white;

    &:visited {
        color: $white;
    }
}

.icon {

    &-round {
        background: $black;
        color: $white;
        border-radius: 50%;
        padding: 10px;

        &:hover {
            background: $white;
            color: $black;
        }
    }

    &-inverse {
        background: $white;
        color: $black;

        &:hover {
            background: $black;
            color: $white;
        }
    }
}

img.post-thumbnail {
    object-fit: cover;
    object-position: center center;
    height: 100%;

    &.contain {
        object-fit: contain;
        object-position: center top;
    }
}

.entry {

    &-content {
        margin: 0;
        word-wrap: break-word;
        text-wrap: pretty;
    }
}

.page {

    &-title {
        text-align: center;
    }
}


.social-media-sharers {
    display: flex;
    align-items: center;

    .sharer {
        background: $black;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: $primary;
        }

        &:last-child {
            margin-right: var(--grid-margin);
        }
    }
}

.page .entry-content > :first-child {
    margin-top: 0;

    &.wp-block-group {
        padding-top: 0;

        &.has-background {
            padding-top: var(--half-block-spacing);
        }
    }
}

article.post {

    h2 {

        a {
            color: $body-color;
        }
    }

    .entry-header {

        &:hover {

            h2 a {
                color: $primary;
            }
        }
    }
}

a.continue-reading,
.continue-reading {
    padding-top: 10px;
    margin-bottom: -2px;
    gap: 10px;
    align-items: center;
}

.wp-block-post-excerpt__more-link,
.wp-block-read-more {
    line-height: 100%;
    align-items: center;
    gap: 10px;
    display: block;
    font-style: italic;
    color: map.get($custom-colors, "tanne") !important;
    text-decoration: none;
    transition: 300ms ease-out;

    &::after {
        position: relative;
        content: "";
        display: inline-block;
        width: 23px;
        height: 20px;
        left: 5px;
        top: 2px;
        mask-image: url("#{$sunflower-img-path}/arrow-right.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url("#{$sunflower-img-path}/arrow-right.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        background-color: map.get($custom-colors, "klee");
        transition: background-color 0.3s ease, transform 0.3s ease;

        @include media-breakpoint-down(xl) {
            top: 3px;
        }
    }

    &:hover {

        color: map.get($custom-colors, "grashalm") !important;

        &::after {
            transform: translateX(3px);
        }
    }
}


.filter-button-group {

    @include media-breakpoint-up(md) {
        margin-top: -35px;
    }

}

button.filter,
a.eventlist {

    font-weight: 700;
    font-size: 16px;
    color: $black;
    letter-spacing: 0.05em;
    background: none;
    border: 0;
    padding: 0;
    margin: 0 1em;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        color: $primary;
        border-bottom-color: $primary;
    }

    &.filter-active {
        border-bottom-color: $black;

        &:hover {
            border-bottom-color: $primary;
        }
    }
}

.sunflower-pagination {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    opacity: 0;
    pointer-events: none;
}

iframe {
    border-radius: var(--border-radius-large);
}

.sunflower {

    &-has-background-dim {

        > * {
            z-index: 30;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 20;
            opacity: 0.3;
            background-color: map.get($custom-colors, "white") !important;
        }

    }
}

.latest-posts--grid .archive-article,
.archive .archive-article {

    @include card;

    margin: 0 !important;

    @include media-breakpoint-down(md) {
        width: 100% !important;
    }
}


.related-posts {

    padding: var(--half-block-spacing) 0 !important;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;

    @include alignwide;

    .row {
        justify-content: space-between;
        column-gap: var(--grid-margin);

        .col-12.col-md-6 {
            padding: 0;
            width: calc(50% - var(--half-grid-margin));

            @include media-breakpoint-down(md) {
                width: 100%;
                padding: 0 var(--grid-margin);
            }
        }
    }

    > div {

        width: 100%;
    }

    article {

        @include card;

        margin: var(--grid-margin) 0 !important;

        @include media-breakpoint-down(md) {
            width: 100% !important;
        }
    }

    a {
        text-decoration: none;
    }

    .entry-content {

        a {
            color: $body-color;
        }
    }

}


:where(.is-layout-flex) {

    h2 {

        &:first-child {
            margin-top: calc(-1 * var(---half-grid-margin));
        }
    }
}


.has-background:not(.alignfull, .wp-block-button__link, .latest-posts, .next-events) {
    padding: var(--grid-margin);
    border-radius: var(--border-radius-large);
}


body #content .is-layout-flex:not(.is-vertical) {

    column-gap: var(--gap-large);
    row-gap: var(--gap-large);

    >  * {
        margin: 0;
    }
}

.entry-content > .candidate {

    &:first-child {
        padding-top: 200px !important;
    }
}

body #content .wp-block-cover {

    row-gap: 0;

    p,
    ul,
    ol {
        margin: calc(var(--gap-large) - 5px) 0 var(--gap-large) 0;
    }

    p + p,
    p + ul,
    p + ol,
    ul + p,
    ul + ul,
    ul + ol,
    ol + p,
    ol + ul,
    ol + ol {
        margin-top: 0 !important;
    }

}

.sunflower-post-navigation a {
    background-color: map.get($custom-colors, "white") !important;
    color: map.get($custom-colors, "tanne") !important;
}

.sunflower-pagination {

    gap: var(--half-grid-margin);

    .page-numbers:not(.next, .prev) {
        padding: 0 0 4px 0 !important;
        width: 46px !important;

        &.current {
            background-color: map.get($custom-colors, "schwarzwald");
            color: map.get($custom-colors, "grashalm");
            border-color: map.get($custom-colors, "grashalm");
            pointer-events: none;
        }
    }

    .prev {
        margin-right: var(--half-grid-margin);
    }

    .next {
        margin-left: var(--half-grid-margin);
    }

}
