.tags-links {

    a {
        margin-right: 3px;

        &::before {

            content: "#";
            color: map-get($custom-colors, "black");
        }
    }
}

.cat-links,
.tags-links {

    a {
        text-decoration: none;
    }
}

.byline {

    a {
        color: inherit;
    }
}

.metabox {

    @include media-breakpoint-up(md) {
        position: relative;
    }

    background: $primary;
    border-radius: $border-radius;
    color: $white;
    padding: $grid-gutter-width;
    z-index: 20;
    text-align: left;
    height: fit-content;
    margin-bottom: 20px;

    &-spacer {
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
            float: right;
            width: 100px;
            height: 150px;
        }
    }

    .date {
        font-size: 150%;
        font-weight: 700;

        @include media-breakpoint-up(lg) {
            font-size: 200%;
        }
    }

    .time {
        font-weight: 700;
    }

    a {
        color: $white;
    }
}
