@use "sass:map";

.tags-links {

    a {
        margin-right: 3px;

        &::before {

            content: "#";
            color: map-get($custom-colors, "black");
        }
    }
}

.cat-links,
.tags-links {

    a {
        text-decoration: none;
    }
}

.byline {

    a {
        color: inherit;
    }
}

.metabox {

    @include media-breakpoint-up(md) {
        position: relative;
    }

    background: map.get($custom-colors, "gruener-sand");
    color: map.get($custom-colors, "tanne");
    padding: calc(var(--gap-large) - 3px) var(--gap-large) var(--gap-large) var(--gap-large);
    z-index: 20;
    width: 280px;
    text-align: left;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: var(--border-radius-medium);

    .date {
        font-size: 150%;
        font-weight: 700;

        @include media-breakpoint-up(lg) {
            font-size: 200%;
        }
    }

    .time {
        font-weight: 700;
    }

    a {
        color: map.get($custom-colors, "tanne") !important;
        font-weight: 700;

        transition: 300ms ease-in-out;

        &.location {
            margin-left: 5px;
        }

        &:hover {
            color: map.get($custom-colors, "grashalm") !important;
        }
    }

}
