@use "sass:map";

.tags-links {

    a {
        margin-right: 3px;

        &::before {

            content: "#";
            color: map-get($custom-colors, "black");
        }
    }
}

.cat-links,
.tags-links {

    a {
        text-decoration: none;
    }
}

.byline {

    a {
        color: inherit;
    }
}

.metabox {

    @include media-breakpoint-up(md) {
        position: relative;
    }

    background: map.get($custom-colors, "gruener-sand");
    border-radius: $border-radius;
    color: map.get($custom-colors, "tanne");
    padding: 0 var(--gap-large);
    z-index: 20;
    text-align: left;
    height: fit-content;
    margin-bottom: 20px;

    .date {
        font-size: 150%;
        font-weight: 700;

        @include media-breakpoint-up(lg) {
            font-size: 200%;
        }
    }

    .time {
        font-weight: 700;
    }

    a {
        color: $white;

        &.location {
            margin-left: 5px;
        }
    }

}
