@include media-breakpoint-up(lg) {

    .navbar {

        .nav-item {

            &:hover {

                .nav-link {}

                div.dropdown-menu {
                    display: block;

                    ul {
                        border-radius: 0;
                    }
                }
            }
        }

    }
}

.topmenu {

    .search {

        input {
            background: none;
            color: $white;
            border-radius: 0;
            border-color: $navbar-dark-color;
            width: 0;
            padding-left: 15px;
            border-width: 0;
            transition: width 0.4s ease-out 0s;

            &.active {
                width: 200px;
                border-width: 1px;
            }

            &:focus {
                border-color: $navbar-dark-color;
                outline: none;
                box-shadow: none;
            }

        }
    }

    li {

        a {
            color: $navbar-dark-color;
        }
    }

    button {
        color: $navbar-dark-color;
        border: 0;
        background: none;
        padding: 0;
    }
}

.sunflower-post-navigation {

    div {

        a {
            background: none;
            display: block;
            padding: 30px;
            text-decoration: none;
            color: $secondary;
            border: 1px solid $secondary;
            border-radius: $border-radius;

            &:hover {
                background: $secondary;
                color: $white;
            }

            .announce {
                text-align: right;
                text-transform: uppercase;
                font-weight: 700;
                font-style: italic;

            }
        }
    }
}

.navbar {
    padding: 0;

    &-main {
        border-bottom: 0;
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.08);
        letter-spacing: 0.3px;
    }

    &-light {

        .navbar-nav {

            > .nav-item {

                border-bottom: 4px solid transparent;

                &:hover {

                    @include media-breakpoint-up(lg) {
                        border-bottom: 4px solid $secondary;
                    }
                }
            }

            .current-page-ancestor,
            .current-menu-parent,
            .current-menu-item.active {

                a.nav-link {
                    color: $primary;

                    &:hover {
                        color: $black;
                    }
                }
            }

            .current-menu-parent {

                .current_page_item > a {
                    color: $primary;

                    &:hover {
                        color: $white;
                    }
                }

            }

            .nav-link {
                color: $body-color;
                font-size: 18px;
                padding: 11px 0 7px 0;
                margin-right: 0.5rem;
                margin-left: 0.5rem;

                &:hover {
                    color: $secondary;
                }
            }
        }
    }

    li {
        margin-right: 10px;
    }
}

.navbar-toggler {
    border: 0;
    font-size: calc(1.5rem + 0.28125vw);

    &:focus {
        box-shadow: none;
    }

    > .close {
        display: block;
    }
}

.navbar-toggler.collapsed > .close,
.navbar-toggler:not(.collapsed) > .open {
    display: none;
}


.dropdown {

    &-menu {
        border-radius: 0;
        padding: 0;
        display: none; // block for testing
        background: transparent;
        border: 0;

        &-spacer {
            height: 0;
            background: none;

            @include media-breakpoint-up(lg) {
                height: 20px;
            }
        }

        &[data-bs-popper] {
            margin-top: 0;
        }

        &-level {

            &-0 {

                @include media-breakpoint-up(lg) {
                    border: 0;
                    box-shadow: 0 25px 20px rgba(0, 0, 0, 0.1);
                }
            }

            &-1 {

                a {
                    padding-left: 1.5rem;
                }
            }

            &-2 {

                a {
                    padding-left: 2rem;
                }
            }
        }

        ul {
            display: block;
            border-radius: 4px;
            margin-right: 0;
            overflow: hidden;
            border: 1px solid $white;
            list-style-type: none;
            background: $white;
            padding: 0;
            margin-bottom: -1px;

            li {
                padding: 0;
                margin-right: 0;

                a {
                    font-size: 18px;
                    text-transform: none;
                    font-weight: 700;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    @include media-breakpoint-up(lg) {
                        border-bottom: 1px solid $very-light-gray;
                    }

                    &:hover {
                        color: $white;
                        background: $secondary;
                    }
                }
            }
        }
    }

    &-submenu {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;

        ul {

            li {
                text-transform: none;

                a {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.has-children {
            margin-right: 2em;
        }
    }
}

.dropdown-toggle {

    &::after {
        display: none;
    }
}

#mainmenu {

    > li {
        text-transform: uppercase;

        &.menu-item-has-children {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;

            @include media-breakpoint-up(lg) {
                flex-wrap: nowrap;
            }

            a {
                flex-basis: auto;
            }

            ul li {
                display: block;
            }

            .submenu-opener {
                flex: auto;
                color: $black;
                font-size: 18px;
                text-align: end;
            }

            .dropdown-menu {
                flex: 100%;
                top: 100%;
            }

        }
    }
}

.navbar-nav {

    .dropdown-menu {
        position: static;
    }
}
