@use "sass:map";

body.navbar-open {
    overflow: hidden;
}

@include media-breakpoint-up(lg) {

    .navbar {

        .nav-item {

            /* open the dropdown menu on hover only on desktop with
             * mouse pointer
             */
            @media (hover: hover) {

                &:hover {

                    div.dropdown-menu {
                        display: block;
                        top: calc(100% + 8px);

                        ul {
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
}

.hamburger-menu .topmenu {
    display: none;
}

.topmenu {

    background-color: map.get($custom-colors, "weiss");
    position: relative;
    top: 0;

    ul {
        font-size: 0;
        line-height: 0;
        padding-top: var(--grid-margin);
        column-gap: calc(var(--gap-large));
        row-gap: var(--gap-small);
        justify-content: flex-end;
        margin-right: var(--grid-margin);
    }

    .navbar-collapse {
        margin: 0;
        justify-content: flex-end;
    }

    .container-fluid {
        padding: 0 var(--grid-margin);
    }

    .menu-item {

        padding: 0;
        margin: 0;

        &.current_page_item a {
            color: map.get($custom-colors, "klee") !important;
        }

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 13px;
            letter-spacing: 0.5px;
            line-height: 100%;
            color: map.get($custom-colors, "tanne") !important;
            padding: 0 0 2px 0;
            border-radius: 15px;
            transition: 300ms ease-out;
            margin: 0;
            text-transform: none;

            &:focus:not(:focus-visible) {
                outline: none;
                box-shadow: none;
            }

            &:hover,
            &:focus,
            &:active {
                color: map.get($custom-colors, "klee") !important;
            }

            &.filter-active {
                color: map.get($custom-colors, "klee");

                &:hover,
                &:focus,
                &:active {
                    color: map.get($custom-colors, "tanne") !important;
                }
            }
        }
    }

    .search {

        input {
            background: none;
            color: $white;
            border-radius: 0;
            border-color: $white;
            width: 0;
            padding-left: 15px;
            border-width: 0;
            transition: width 0.4s ease-out 0s;
            font-style: italic;

            &.active {
                width: 200px;
                border-width: 1px;
            }

            &:focus {
                border-color: $white;
                outline: none;
                box-shadow: none;
            }

        }
    }

    li {

        a {
            color: $white-90;

            &:focus-visible {
                outline: #fff solid 2px;
            }
        }

    }

    button {
        color: $white-90;
        border: 0;
        background: none;
        padding: 0 10px;

        &:focus-visible {
            outline: #fff solid 2px;
        }
    }

    form input::placeholder {
        color: $very-light-gray;
    }

}

.formstyle-sharp .topmenu {

    ul,
    .navbar-collapse {
        justify-content: flex-start;
    }
}

.sunflower-post-navigation {

    padding-bottom: var(--half-block-spacing);

    @media (max-width: 1000px) {
        display: none !important;
    }

    div {

        a {

            font-size: 18px !important;
            padding: 5px 15px 8px 15px !important;

            .icon-arrow {
                position: relative;
                top: 1px;
                width: 23px;

                &--right {
                    margin-left: 7px;
                }

                &--left {
                    margin-right: 7px;
                }

            }
        }
    }
}

body.colorscheme-green .topmenu .menu-item a {
    color: map.get($custom-colors, "grashalm") !important;

    &:hover,
    &:focus,
    &:active {
        color: map.get($custom-colors, "white") !important;
    }
}

body.colorscheme-green .topmenu .current-menu-item a {
    color: map.get($custom-colors, "white") !important;
}


.navbar {

    padding: 0;

    &-main {
        letter-spacing: 0.3px;
    }

    &-light {

        .navbar-nav {

            >.nav-item {

                padding: 4px 0;
                display: flex;

                &.menu-item-has-children {

                    flex-wrap: wrap;
                    justify-content: space-between;

                    button.submenu-opener {
                        border: none;
                        background: none;

                        @include themed-colorscheme-nested() {
                            background-image: url(#{t(menu-dropdown-icon)});
                        }

                        background-repeat: no-repeat;
                        background-size: 13px;
                        background-position: center;
                        transition: transform 0.2s ease-in-out;

                        @include media-breakpoint-up(lg) {
                            padding: 0 12px;
                        }

                        &.show {
                            content: "";
                            transform: rotate(-180deg);

                            @include themed-colorscheme-nested() {
                                background-image: url(#{t(menu-dropdown-icon)});
                            }
                        }

                        .dropdown-toggle::after {
                            display: none;
                        }

                    }

                    &:hover {

                        button.submenu-opener {

                            @include themed-colorscheme-nested() {
                                background-image: url(#{t(menu-dropdown-icon)});
                            }
                        }
                    }

                    &.dropdown {

                        .dropdown-menu {

                            border-radius: 0;
                            padding: 0;

                            border: none;

                            &-spacer {
                                height: 0;
                                background: none;

                                @include media-breakpoint-up(lg) {
                                    height: 20px;
                                }
                            }

                            &[data-bs-popper] {
                                margin-top: 0;
                            }

                            &-level {

                                &-0 {

                                    @include media-breakpoint-up(lg) {
                                        border: 0;
                                        border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
                                        box-shadow: 0 25px 20px rgba(0, 0, 0, 0.1);
                                    }

                                    a {
                                        padding-left: 1rem;
                                    }
                                }

                                &-1 {

                                    a {
                                        padding-left: 2rem;
                                    }

                                }

                                &-2 {

                                    a {
                                        padding-left: 3rem;
                                    }

                                }
                            }

                            ul {
                                display: block;
                                border-radius: 4px;
                                margin-right: 0;
                                margin-top: -4px;
                                list-style-type: none;
                                padding: 0;

                                li {
                                    padding: 0;
                                    margin-right: 0;

                                    &.active {

                                        >a {
                                            color: $secondary;
                                        }

                                        &.current-menu-parent {

                                            >a {
                                                color: $body-color;
                                            }
                                        }
                                    }

                                    a {
                                        text-transform: none;
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        font-weight: 500;

                                        &:focus-visible {
                                            outline-offset: -3px;
                                        }
                                    }
                                }
                            }
                        }

                        &-item {
                            display: flex;

                            &.has-children {
                                margin-right: 2em;
                            }

                            &:hover {
                                background-color: $white;
                            }
                        }

                    }
                }

                .dropdown-toggle {

                    &::after {
                        display: none;
                    }

                }

                &.button-highlight {

                    > a {

                        @include themed-colorscheme-nested() {
                            background-color: t(text);

                            &.nav-link {
                                color: t(background);
                            }
                        }
                        border-radius: 9999px;
                        text-align: left;
                        padding: 11px 14px 11px 14px;

                    }

                }

            }

        }
    }
}

// specific settings to the collapse (mobile) menu
.navbar-collapse {
    display: block;
    width: 100%;
    margin-left: 10px;

    &.collapsing,
    &.collapse.show {

        max-height: 90vh;
        overflow: auto;

        .navbar-nav {
            align-items: normal;

            .nav-item {
                text-align: end;
                border-top: 1px solid $very-light-gray;

                .nav-link {
                    white-space: normal;
                }

            }
        }

        .dropdown {

            &-menu {

                ul {
                    margin-top: 0;
                }

                &.show {
                    width: 100%;
                }
            }

            &-item {
                white-space: normal;
                text-align: left;
            }
        }
    }
}
