@include media-breakpoint-up(lg) { 
    .navbar{
        .nav-item{
            &:hover{
                .nav-link{
                    
                }
                .dropdown-menu{ 
                    display: block; 
                }
            }
            .dropdown-menu{ 
                display: none; 
                border-radius: 5px;
                margin-right: 0;
                padding-bottom: 0;
                li{
                    border-bottom: 1px solid $very-light-gray;
                    a{    
                        font-size: 18px;                        
                        &:hover{
                            color: $primary;
                            background: none;
                        }
                    } 
                }
            }
        }

    }
}

.topmenu{
    .search{
        input{
            background: none;
            color: $white;
            border-radius: 0;
            padding-left: 15px;
            border-color: $navbar-dark-color;

            &:focus{
                border-color: $navbar-dark-color;
            }
        }
    }
}

.sunflower-post-navigation{
    div{
        a{
            background: $lightgreen;
            display: block;
            padding: 30px; 
            text-decoration: none;
            color: $black;
 
            &:hover{
                background: $primary;
                color: $white;
            }
 
            .announce{
                text-align: right;
                text-transform: uppercase;
                font-weight: bold;
                font-style: italic;
               
            }
        }
    }
 }
 
 .navbar{
     padding: 0;
 
     &-main{
         border-bottom: 0;
         box-shadow: 0 6px 6px -6px $lightgray
     }
 
     &-light{
         .navbar-nav{
            .current-menu-item{
                a.nav-link{
                    color: $primary;
                    border-bottom: 3px solid $primary;
                }
            }
            .nav-link{
                color: $body-color;
                font-size: 18px;
                &:hover{
                    color: $primary;
                };
            }
         }
     }
 
     li{
         margin-right: 10px;
     }
}

.navbar-toggler{
    &:focus{
        box-shadow: none;
    }
    &>.close {
        display: block;
    }
}

.navbar-toggler.collapsed>.close, 
.navbar-toggler:not(.collapsed)>.open {
    display: none;
}
