.sunflower-post-navigation{
   div{
       a{
           background: $lightgreen;
           display: block;
           padding: 30px; 
           text-decoration: none;
           color: $black;

           &:hover{
               background: $primary;
               color: $white;
           }

           .announce{
               text-align: right;
               text-transform: uppercase;
               font-weight: bold;
               font-style: italic;
              
           }
       }
   }
}

.navbar{
    padding: 0;

    &-main{
        border-bottom: 0;
        box-shadow: 0 6px 6px -6px $lightgray
    }

    &-light{
        .navbar-nav{
            .nav-link{
                color: $body-color;
                font-size: 18px;
                &:hover{
                    color: $primary;
                };
            }
        }
    }

    li{
        margin-right: 10px;
    }
}