body.navbar-open {
    overflow: hidden;
}

@include media-breakpoint-up(lg) {

    .navbar {

        .nav-item {

            /* open the dropdown menu on hover only on desktop with
             * mouse pointer
             */
            @media (hover: hover) {

                &:hover {

                    div.dropdown-menu {
                        display: block;
                        top: calc(100% + 8px);

                        ul {
                            border-radius: 0;
                        }
                    }

                }
            }
        }
    }
}

.topmenu {

    background: $secondary;

    .search {

        input {
            background: none;
            color: $white;
            border-radius: 0;
            border-color: $white;
            width: 0;
            padding-left: 15px;
            border-width: 0;
            transition: width 0.4s ease-out 0s;

            &.active {
                width: 200px;
                border-width: 1px;
            }

            &:focus {
                border-color: $white;
                outline: none;
                box-shadow: none;
            }

        }
    }

    li {

        a {
            color: $white-90;

            &:focus-visible {
                outline: #fff solid 2px;
            }
        }

    }

    button {
        color: $white-90;
        border: 0;
        background: none;
        padding: 0 10px;

        &:focus-visible {
            outline: #fff solid 2px;
        }
    }

    form input::placeholder {
        color: $very-light-gray;
    }

}

.sunflower-post-navigation {

    div {

        a {
            background: none;
            display: block;
            padding: 30px;
            text-decoration: none;
            color: $secondary;
            border: 1px solid $secondary;
            border-radius: $border-radius;

            &:hover {
                background: $secondary;
                color: $white;
            }

            .announce {
                text-align: right;
                text-transform: uppercase;
                font-weight: 700;
                font-style: italic;

            }
        }
    }
}

.navbar {

    $dropdown-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$body-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>") !default;
    $dropdown-button-icon-hover: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$secondary}' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>") !default;

    padding: 0;

    &-main {
        border-bottom: 0;
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.08);
        letter-spacing: 0.3px;
    }

    &-light {

        .navbar-nav {
            align-items: center;

            >.nav-item {

                padding: 4px 0;
                display: flex;


                &.active {

                    >a {
                        color: $secondary;
                    }

                    &.current-menu-parent {

                        >a {
                            color: $body-color;
                        }
                    }

                }

                &:hover {

                    @include media-breakpoint-up(lg) {
                        border-bottom: 4px solid $secondary;
                        padding-bottom: 0;
                    }
                }

                &.menu-item-has-children {

                    flex-wrap: wrap;
                    justify-content: space-between;

                    button.submenu-opener {
                        border: none;
                        background: none;
                        background-image: #{escape-svg($dropdown-button-icon)};
                        background-repeat: no-repeat;
                        background-size: 30px;
                        background-position: center;
                        transition: transform 0.2s ease-in-out;

                        @include media-breakpoint-up(lg) {
                            background-size: 24px;
                            padding: 7px;
                            margin-right: 4px;
                        }

                        &.show {
                            content: "";
                            transform: rotate(-180deg);
                            background-image: #{escape-svg($dropdown-button-icon-hover)};
                        }
                    }

                    &:hover {

                        button.submenu-opener {
                            background-image: #{escape-svg($dropdown-button-icon-hover)};
                        }
                    }
                }

                .dropdown-toggle {

                    text-align: end;

                    &::after {
                        display: none;
                    }

                }

                &.button-highlight {

                    > a {

                        background-color: $secondary;
                        border-radius: 9999px;
                        text-align: left;
                        padding: 11px 14px 7px 14px;

                        &.nav-link {
                            color: $white;
                        }
                    }

                    &.menu-item-has-children {

                        .dropdown-toggle {
                            color: $white;
                        }

                    }
                }

            }

            .nav-link {
                color: $body-color;
                font-size: 18px;
                padding: 11px 0 7px 0;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
                text-align: left;
                white-space: nowrap;

                &:hover {
                    color: $secondary;
                }

                &:focus-visible {
                    outline: $secondary solid 2px;
                    box-shadow: none;
                }
            }
        }
    }

    li {
        margin-right: 10px;
    }
}

.navbar-toggler {
    border: 0;
    font-size: calc(1.5rem + 0.28125vw);

    &:focus {
        box-shadow: none;
    }

    >.close {
        display: block;
    }
}

.navbar-toggler.collapsed > .close,
.navbar-toggler:not(.collapsed) > .open {
    display: none;
}

.dropdown {

    &-menu {
        border-radius: 0;
        padding: 0;
        display: none; // block for testing
        background: transparent;
        border: 0;

        &-spacer {
            height: 0;
            background: none;

            @include media-breakpoint-up(lg) {
                height: 20px;
            }
        }

        &[data-bs-popper] {
            margin-top: 0;
        }

        &-level {

            &-0 {

                @include media-breakpoint-up(lg) {
                    border: 0;
                    box-shadow: 0 25px 20px rgba(0, 0, 0, 0.1);
                }

                ul li {

                    &:not(:first-child) {
                        border-top: 1px solid $very-light-gray;
                    }
                }
            }

            &-1 {

                a {
                    padding-left: 1.5rem;
                }
            }

            &-2 {

                a {
                    padding-left: 2rem;
                }
            }
        }

        ul {
            display: block;
            border-radius: 4px;
            margin-right: 0;
            margin-top: -4px;
            list-style-type: none;
            background-color: $white;
            padding: 0;

            li {
                padding: 0;
                margin-right: 0;

                &.active {

                    >a {
                        color: $secondary;
                    }

                    &.current-menu-parent {

                        >a {
                            color: $body-color;
                        }
                    }
                }

                a {
                    font-size: 18px;
                    text-transform: none;
                    padding-top: 10px;
                    padding-bottom: 10px;


                    &:hover {
                        color: $secondary;
                    }

                    &:focus-visible {
                        outline-offset: -3px;
                    }
                }
            }
        }
    }

    &-item {
        display: flex;

        &.has-children {
            margin-right: 2em;
        }

        &:hover {
            background-color: $white;
        }
    }

}


#mainmenu {

    >li {
        text-transform: uppercase;

        &.menu-item-has-children {

            @include media-breakpoint-up(lg) {
                flex-wrap: nowrap;
            }

            ul li {
                display: block;
            }

        }
    }
}

// specific settings to the collapse (mobile) menu
.navbar-collapse {
    display: block;
    width: 100%;
    margin-left: 10px;

    &.collapsing,
    &.collapse.show {

        max-height: 90vh;
        overflow: auto;

        .navbar-nav {
            align-items: normal;

            .nav-item {
                text-align: end;
                border-top: 1px solid $very-light-gray;
                padding-left: 24px;

                .nav-link {
                    white-space: normal;
                }
            }
        }

        .dropdown {

            &-menu {

                ul {
                    margin-top: 0;
                }

                &.show {
                    width: 100%;
                }
            }

            &-item {
                white-space: normal;
                text-align: left;
            }
        }
    }
}
