.display-single{
    .entry{
        &-header{
            text-align: center;
            background: $lightgreen;
            padding: 50px 0 100px 0;
        }
    }

    .post-thumbnail{
        position: relative;
        margin-top: -10%;
    }
}