.display-single {

    >.entry {

        &-header {
            text-align: left;
            background: $white;
            color: $secondary;
            padding: 0;

            @include media-breakpoint-up(md) {
                padding: 65px 0;
            }
        }

        &-title {
            margin-bottom: 50px;
        }

        &-content {}
    }

    >.post-thumbnail {
        position: relative;
        margin-bottom: 50px;

        figcaption {
            position: relative;
            width: unset;
            color: inherit;
            text-align: right;
            font-size: $small-font-size;
            background: none;
            margin-right: 0.3em;
            margin-top: 0.5em;
        }
    }
}

.post,
.page {
    margin: 0;
}

body.page .entry-header {
    padding-bottom: 35px;
}
