.display-single{
    >.entry{
        &-header{
            text-align: center;
            background: $lightgreen;
            padding: 100px 0 85px 0;
        }

        &-title{
            margin-bottom: 50px;
        }

        &-content{
           
        }
    }

    >.post-thumbnail{
        position: relative;
        margin-top: -35px;
        margin-bottom: 50px;
    }

}

.post,
.page{
    margin: 0;
}


header.has-no-post-thumbnail{
    margin-bottom: 50px;
}

body.page .entry-header {
    padding-bottom: 35px;
}
