@use "sass:map";

.latest-posts:has(.column-slider) {
    position: relative;
}

.latest-posts:has(.column-slider):not(:has(h2.text-center)) .column-slider {
    margin-top: 86px;
}

/* Latest-Posts Slider – immer aktiv, mehrere Karten pro Ansicht */
.latest-posts .row.column-slider {
    overflow: visible;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap !important;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .entry-content {

        > * {
            padding: 0;
        }
    }

    .entry-header,
    .entry-content,
    .entry-meta,
    img,
    a:has(.wp-post-image) {
        pointer-events: none;
    }

    div {
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;

        &:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
    }

    .col-12 {
        align-items: center;
    }

    .mb-4 {
        margin-bottom: 0 !important;
    }
}

.latest-posts .row.column-slider > .col-12,
.latest-posts .row.column-slider > .col-md-6,
.latest-posts .row.column-slider > .col-md-4 {
    flex: 0 0 auto;
    max-width: none;
    box-sizing: border-box;
}

/* Nav & Buttons – Latest-Posts */
.latest-posts .navbuttons {

    position: absolute;
    top: 85px;
    right: var(--block-spacing);

    @include media-breakpoint-down(xl) {
        top: 60px;
    }

    @include media-breakpoint-down(md) {
        top: 20px;
        position: relative;
        right: var(--grid-margin);
        width: calc(100% - var(--grid-margin));
        margin-bottom: var(--block-spacing);
    }
}

.latest-posts .slider__button {
    position: absolute;
    width: 46px;
    height: 46px;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    background-color: map.get($custom-colors, "weiss") !important;
    border: 2px solid $primary !important;
    border-radius: 23px;

    div svg {
        color: map.get($custom-colors, "klee");
    }

    &:hover {
        background-color: $secondary !important;
        border: 2px solid $secondary !important;

        div svg {
            color: map.get($custom-colors, "weiss");
        }
    }
}

.latest-posts .slider__button .button__direction {
    display: block;
    cursor: pointer;
}


.slider__button .button__direction {
    position: relative;
    top: -3px;
}

.latest-posts .slider__button--prev {
    left: -40px;

    @include media-breakpoint-down(md) {
        left: var(--grid-margin);
    }
}

.latest-posts .slider__button--next {
    left: calc(104px - var(--grid-margin));
    transform: rotate(180deg);

    @include media-breakpoint-down(md) {
        right: 0;
        left: initial;
    }
}

a:has(.continue-reading) {
    border-radius: 23px;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.6px;
    height: 46px;
    width: initial;
    display: flex !important;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    padding: 0 35px 4px 35px !important;
    transition: 0.3s ease;
    border: 2px solid map.get($custom-colors, "tanne") !important;
    background-color: map.get($custom-colors, "weiss") !important;
    color: $primary;
    cursor: pointer;

    .p-45 {
        height: fit-content;

        span {
            font-style: normal !important;
            color: map.get($custom-colors, "tanne");
        }
    }

    &:hover {
        text-decoration: none;
        background-color: map.get($custom-colors, "grashalm") !important;
        border: 2px solid map.get($custom-colors, "grashalm") !important;

        .p-45 {

            span {
                color: map.get($custom-colors, "weiss") !important;
            }
        }
    }

}

@include media-breakpoint-down(md) {

    .wp-block-columns.all-columns-start-with-image.more-than-two-columns.column-slider {
        overflow: visible;
        margin-left: 0;
        display: flex;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        margin-bottom: var(--double-grid-margin);

        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .wp-block-column {
            max-width: calc(100vw - calc(var(--grid-margin) * 4));
        }
    }

    .column-slider > .wp-block-column {
        flex: 0 0 100%;
        max-width: calc(100vw - var(--doublepadding));
        box-sizing: border-box;
    }

    .navbuttons {
        position: relative;
        right: var(--padding);
        bottom: -50px;
        width: 100%;
        top: 85px;

        @include media-breakpoint-down(md) {
            top: 0;
        }
    }

    .slider__button {
        position: absolute;
        width: 46px;
        height: 46px;
        padding: 0;
        cursor: pointer;
        z-index: 10;
        background-color: map.get($custom-colors, "weiss") !important;
        border: 2px solid $primary !important;
        border-radius: 23px;

        div svg {
            color: map.get($custom-colors, "klee");
        }

        &:hover {
            background-color: $secondary !important;
            border: 2px solid $secondary !important;

            div svg {
                color: map.get($custom-colors, "weiss");
            }
        }
    }

    .slider__button .button__direction {
        display: block;
        cursor: pointer;
    }

    .slider__button--prev {
        left: 0;
    }

    .slider__button--next {
        right: 0;
        transform: rotate(180deg);
    }
}
