@import 'variables';

//$themes: (
//    default: ("headingFont": "GrueneType Neue", "headingFontBold": "GrueneType Neue", "standardFont": "\"PT Sans\", sans-serif"),
//    contrast: ("headingFont": "GrueneType Neue", "headingFontBold": "GrueneType Neue", "standardFont": "\"PT Sans\", sans-serif")
//);

$themes: (
/* Color scheme*/
  light: (
    background: map-get($custom-colors, "weiss"),
    text: map-get($custom-colors, "schwarzwald")
  ),
  green: (
    background: map-get($custom-colors, "schwarzwald"),
    text: map-get($custom-colors, "weiss"),
  ),
  /* Form Style*/
  sharp: (
    border-radius: 0
  ),
  rounded: (
    border-radius: 16px
  ),
  /* Header-Layout*/
  header-standard: (
    width: 100%,
    height: 140px,
    left: 70%

  ),
  header-personal: (
    width: 100%,
    height: 100px
  ),
  /* Footer-Layout*/
  footer-sand: (
    footer-bg: map-get($custom-colors, "sand"),
    footer-text: map-get($custom-colors, "schwarzwald")
  ),
  footer-green: (
    footer-bg: map-get($custom-colors, "schwarzwald"),
    footer-text: map-get($custom-colors, "weiss")
  )
);


@mixin themed() {

    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;

            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
  $val: map-get($theme-map, $key);
  @if type-of($val) == "string" {
    @return unquote($val);
  }
  @return $val;
}


.theme--contrast {

    .topmenu {

        .navbar-nav .nav-link {
            color: $white;
        }
    }

    .roofline,
    .cat-links a,
    .tags-links a,
    a.event-card article .event-archive-meta {
        color: $secondary;
    }

    .metabox {
        background-color: $secondary;
    }

}

.theme--verdigado {

    .topmenu {
        background-color: #a00057;
        color: $white;
    }

    .bloginfo {
        background: #00354e !important;
    }
}
