@use "sass:map";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

    hyphens: none;
    overflow-wrap: normal;
    word-break: normal;

    &.textbalken {
        margin-bottom: 0;
        padding: 0 1em;
    }
}

.roofline {

    // @include themed() {
    //     font-family: t(headingFont);
    // }

    &-single {

        // @include themed() {
        //     font-family: t(headingFontBold);
        // }
    }

    font-weight: 500;
    font-style: italic;
    color: $primary;
    font-size: 17px;
    margin-bottom: 30px;
    letter-spacing: 0.8px;
}

h1,
.h1,
.has-huge-font-size {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 36px;
    line-height: 1.2em;
    font-weight: 500 !important;
    margin: var(--grid-margin) 0 var(--double-grid-margin) 0;
}

h2,
.h2,
.has-large-font-size {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 27px;
    line-height: 1.2em;
}

h3,
.h3,
.has-medium-font-size {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 25px;
}

.has-white-background-color {

    .h1,
    .h2,
    .h3 {
        color: $secondary;
    }
}

h4,
.h4,
.accordion-button {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 23px;
}

h5,
.h5 {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 21px;
}

h6,
.h6,
blockquote.wp-block-quote p {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 18px;
    letter-spacing: 1px;
}

blockquote.wp-block-quote p {
    line-height: 150%;
}


@include media-breakpoint-up(md) {

    h1,
    .h1,
    .has-huge-font-size {
        font-size: 45px;
        line-height: 1.3em;
    }

    h2,
    .h2,
    .has-large-font-size {
        font-size: 31px;
        line-height: 1.3em;
    }

    h3,
    .h3,
    .has-medium-font-size {
        font-size: 27px;
    }

    h4,
    .h4,
    .accordion-button {
        font-size: 27px;
    }

    h5,
    .h5 {
        font-size: 25px;
    }

    h6,
    .h6,
    blockquote.wp-block-quote p {
        font-size: 22px;
    }
}


.has-background.textbalken {
    z-index: 0;
    width: fit-content;
    line-height: 150%;
    position: relative;
    text-transform: uppercase;

    // @include themed() {
    //     font-family: t(headingFont);
    // }

    &::before {
        background: inherit;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: -9px;
        z-index: -1;
        transform: skew(-12deg);
        transform-origin: bottom;
    }

    &.links-eins {
        left: 1em;

        @include media-breakpoint-down(md) {
            left: 0.5em;
        }
    }

    &.links-zwei {
        left: 3em;

        @include media-breakpoint-down(md) {
            left: 2.5em;
        }
    }
}

h1:has(+ h4) {
    margin-bottom: 12px;
}


.has-background.textbalken.links-drei {
    left: 5em;

    @include media-breakpoint-down(md) {
        left: 4.5em;
    }
}

.stoerer {
    width: 200px;
    height: 200px;
    font-size: 30pt;

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    padding: 8pt;
    border-radius: 50%;
    line-height: 100%;
    color: $white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: map-get($custom-colors, "himmel");
    -moz-transform: rotate(-7deg); /* Firefox 3.6 Firefox 4 */
    -webkit-transform: rotate(-7deg); /* Safari */
    -o-transform: rotate(-7deg); /* Opera */
    -ms-transform: rotate(-7deg); /* IE9 */
    transform: rotate(-7deg); /* W3C */
    position: relative;
    left: 20rem;
    top: 5rem;

    @include media-breakpoint-down(md) {
        left: 8rem;
        top: 2rem;
    }
}

.brand-left {
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 150%;

    @include media-breakpoint-down(xl) {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 130%;
    }
}

.right-bar a {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.4px;
    font-weight: 700;
    transition: 0.3s ease;

    @include media-breakpoint-down(xl) {
        font-size: 16px;
        letter-spacing: 0.6px;
    }
}

.right-bar nav > ul:not(:has(:scope > li:nth-child(n+7))) {
    font-size: 18px;

    @include media-breakpoint-down(xl) {
        font-size: 16px;
    }
}

.right-bar .sub-menu a {
    font-weight: 500;
}

.colorscheme-light .right-bar .current_page_item {

    a {
        color: map-get($custom-colors, "klee") !important;
    }

    .sub-menu a {
        color: map-get($custom-colors, "schwarzwald") !important;
    }
}


.colorscheme-light .right-bar a {

    &:hover {
        color: map-get($custom-colors, "klee");
    }
}

body {
    font-size: 20px;
    line-height: 175%;
    letter-spacing: 0.6px;
    font-family: "PT Sans", sans-serif;

    @include media-breakpoint-down(xl) {
        font-size: 18px;
        line-height: 155%;
    }
}

body #content {

    .has-small-font-size,
    .article .has-small-font-size p,
    :where(.is-layout-flex) p.has-small-font-size,
    .small {
        font-size: 16px !important;
        line-height: 150%;
        letter-spacing: 0.9px;
        margin: calc(var(--gap-large) - 16px) 0 var(--gap-large) 0;


        @include media-breakpoint-down(xl) {
            font-size: 14px !important;
        }
    }
}

.metainfo {
    font-size: 14px;
    line-height: 150%;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;


    @include media-breakpoint-down(xl) {
        font-size: 12px !important;
        line-height: 150%;
    }
}

body #content {

    h3,
    h2,
    h1,
    p {
        margin-bottom: var(--grid-margin);

        &:last-child {
            margin-bottom: 0;
        }
    }

    h4,
    h5,
    h6 {
        margin-bottom: var(--half-grid-margin);

        &:last-child {
            margin-bottom: 0;
        }
    }


    .wp-block-group.is-layout-flex:not(.is-vertical)
    :not(.is-vertical) > h1,
    .wp-block-group.is-layout-flex:not(.is-vertical)
    :not(.is-vertical) > h2,
    .wp-block-group.is-layout-flex:not(.is-vertical)
    :not(.is-vertical) > p {
        margin-bottom: 0;
    }

    .wp-block-group.is-layout-flex.is-vertical {

        > h1,
        > h2,
        > h3,
        > h4 {
            margin-bottom: 0;
        }
    }

    h5:has(+ h1),
    h5:has(+ h2),
    h5:has(+ h3),
    h5:has(+ h4),
    .overline {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .wp-block-cover {

        h2 {
            margin-bottom: 0;
        }
    }
}


.wp-block-group.has-background:is(
.has-black-background-color,
.has-tanne-background-color
) {

    h2 {
        color: map.get($custom-colors, "weiss");
    }
}

.wp-block-group.has-background:is(
.has-klee-background-color,
.has-grashalm-background-color
) {

    h2 {
        color: map.get($custom-colors, "weiss") !important;
    }
}

.has-sonne-background-color,
.has-sand-background-color,
.has-gray-background-color,
.has-kalk-background-color,
.has-white-background-color,
.has-weiss-background-color,
.has-gruener-sand-background-color,
.has-himmel-background-color {

    h2 {
        color: map.get($custom-colors, "tanne") !important;
    }
}


.colorscheme-green {

    .latest-posts,
    .has-weiss-background-color,
    .has-sonne-background-color,
    .has-sand-background-color,
    .has-gray-background-color,
    .has-kalk-background-color,
    .has-white-background-color,
    .has-gruener-sand-background-color,
    .wp-block-cover:has(span.has-weiss-background-color),
    .wp-block-cover:has(span.has-sonne-background-color),
    .wp-block-cover:has(span.has-sand-background-color),
    .wp-block-cover:has(span.has-gray-background-color),
    .wp-block-cover:has(span.has-kalk-background-color),
    .wp-block-cover:has(span.has-white-background-color),
    .wp-block-cover:has(span.has-gruener-sand-background-color) {

        p,
        body {
            color: map.get($custom-colors, "schwarzwald") !important;
        }

        h2 {
            color: map.get($custom-colors, "tanne") !important;
        }
    }

    .posts-slider {

        .p-45 p {
            color: map.get($custom-colors, "schwarzwald") !important;
        }
    }
}


.has-medium-font-size {
    line-height: 33px;
}
