h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

    word-break: break-word;

    &.textbalken {
        margin-bottom: 0;
        padding: 0 1em;
    }
}

.roofline {

    // @include themed() {
    //     font-family: t(headingFont);
    // }

    &-single {

        // @include themed() {
        //     font-family: t(headingFontBold);
        // }
    }

    font-weight: 500;
    color: $primary;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

h1,
.h1,
.has-huge-font-size {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 36px;
    line-height: 1.2em;
    font-weight: 500 !important;
}

h2,
.h2,
.has-large-font-size {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 27px;
    line-height: 1.2em;
}

h3,
.h3,
.has-medium-font-size {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 25px;
}

.has-white-background-color {

    .h1,
    .h2,
    .h3 {
        color: $secondary;
    }
}

h4,
.h4 {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 23px;
}

h5,
.h5 {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 21px;
}

h6,
.h6 {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    font-size: 18px;
}


@include media-breakpoint-up(md) {

    h1,
    .h1,
    .has-huge-font-size {
        font-size: 45px;
        line-height: 1.3em;
    }

    h2,
    .h2,
    .has-large-font-size {
        font-size: 31px;
        line-height: 1.3em;
    }

    h3,
    .h3,
    .has-medium-font-size {
        font-size: 27px;
    }

    h4,
    .h4 {
        font-size: 27px;
    }

    h5,
    .h5 {
        font-size: 25px;
    }

    h6,
    .h6 {
        font-size: 22px;
    }
}

@include media-breakpoint-down(md) {

    body {
        font-size: 1.125rem;
    }

}

.has-background.textbalken {
    z-index: 0;
    width: fit-content;
    line-height: 150%;
    position: relative;
    text-transform: uppercase;

    // @include themed() {
    //     font-family: t(headingFont);
    // }

    &::before {
        background: inherit;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: -9px;
        z-index: -1;
        transform: skew(-12deg);
        transform-origin: bottom;
    }

    &.links-eins {
        left: 1em;

        @include media-breakpoint-down(md) {
            left: 0.5em;
        }
    }

    &.links-zwei {
        left: 3em;

        @include media-breakpoint-down(md) {
            left: 2.5em;
        }
    }
}

h1:has(+ h4) {
    margin-bottom: 12px;
}


.has-background.textbalken.links-drei {
    left: 5em;

    @include media-breakpoint-down(md) {
        left: 4.5em;
    }
}

.stoerer {
    width: 200px;
    height: 200px;
    font-size: 30pt;

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    padding: 8pt;
    border-radius: 50%;
    line-height: 100%;
    color: $white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: map-get($custom-colors, "himmel");
    -moz-transform: rotate(-7deg); /* Firefox 3.6 Firefox 4 */
    -webkit-transform: rotate(-7deg); /* Safari */
    -o-transform: rotate(-7deg); /* Opera */
    -ms-transform: rotate(-7deg); /* IE9 */
    transform: rotate(-7deg); /* W3C */
    position: relative;
    left: 20rem;
    top: 5rem;

    @include media-breakpoint-down(md) {
        left: 8rem;
        top: 2rem;
    }
}

.brand-left {
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 150%;

    @include media-breakpoint-down(xl) {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 130%;
    }
}

.right-bar a {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.4px;
    font-weight: 700;
    transition: 0.3s ease;

    @include media-breakpoint-down(xl) {
        font-size: 16px;
        letter-spacing: 0.6px;
    }
}

.colorscheme-light .right-bar .current_page_item {
    a {
        color: map-get($custom-colors, "klee") !important;
    }
}


.colorscheme-light .right-bar a {
    &:hover {
        color: map-get($custom-colors, "klee");
    }
}
