@use "sass:map";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

    hyphens: none;
    overflow-wrap: normal;
    word-break: normal;

    &.textbalken {
        margin-bottom: 0;
        padding: 0 1em;
    }
}

.roofline {

    font-weight: 500;
    font-style: italic;
    color: $primary;
    font-size: 17px;
    margin-bottom: 30px;
    letter-spacing: 0.8px;
}

h1,
.h1,
.has-huge-font-size {

    font-size: 36px;
    line-height: 1.2em;
    font-weight: 500 !important;
    margin: var(--grid-margin) 0 var(--double-grid-margin) 0;
}

h2,
.h2,
.has-large-font-size {

    font-size: 27px;
    line-height: 1.2em;
}

h3,
.h3,
.has-medium-font-size,
.wp-block-query .wp-block-post-title,
.wp-block-rss__item-title,
.all-columns-start-with-image .h2 {
    line-height: 130%;
    font-size: 24px;
}

body .wp-block-post-title.has-background,
body .wp-block-post-title.has-shadow {
    border-radius: var(--border-radius-small);
    padding: calc(var(--grid-margin) - 5px) var(--grid-margin) var(--grid-margin) var(--grid-margin);
}

.has-white-background-color {

    .h1,
    .h2,
    .h3 {
        color: $secondary;
    }
}

h4,
.h4,
.accordion-button {

    font-size: 23px;
}

h5,
.h5 {

    font-size: 21px;
}

h6,
.h6,
blockquote.wp-block-quote p,
.person-name {

    font-size: 18px;
    letter-spacing: 1px;
}

blockquote.wp-block-quote p {
    line-height: 150%;
}


@include media-breakpoint-up(md) {

    h1,
    .h1,
    .has-huge-font-size {
        font-size: 45px;
        line-height: 1.3em;
    }

    h2,
    .h2,
    .has-large-font-size {
        font-size: 31px;
        line-height: 1.3em;
    }

    h3,
    .h3,
    .has-medium-font-size,
    .wp-block-query .wp-block-post-title,
    .wp-block-rss__item-title,
    .all-columns-start-with-image .h2 {
        font-size: 40px;
    }

    h4,
    .h4,
    .accordion-button {
        font-size: 27px;
    }

    h5,
    .h5 {
        font-size: 25px;
    }

    h6,
    .h6,
    blockquote.wp-block-quote p,
    .person-name {
        font-size: 22px;
    }
}


.has-background.textbalken {
    z-index: 0;
    width: fit-content;
    line-height: 150%;
    position: relative;
    margin-left: 12px !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;

    &::before {
        background: inherit;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: -9px;
        z-index: -1;
        transform: skew(-12deg);
        transform-origin: bottom;
    }

    &.links-eins {
        margin-left: 52px !important;

        @include media-breakpoint-down(md) {
            margin-left: 32px !important;
        }
    }

    &.links-zwei {
        margin-left: 92px !important;

        @include media-breakpoint-down(md) {
            margin-left: 52px !important;
        }
    }
}

h1:has(+ h4) {
    margin-bottom: 12px;
}


.has-background.textbalken.links-drei {
    margin-left: 132px !important;

    @include media-breakpoint-down(md) {
        margin-left: 92px !important;
    }
}

.stoerer {
    width: fit-content;
    aspect-ratio: 1 / 1;
    font-size: 30px !important;
    font-family: "GrueneType Neue", sans-serif;
    max-width: 220px !important;
    max-height: 220px !important;
    padding: 10px 25px 17px 25px !important;
    border-radius: 50% !important;
    line-height: 100%;
    color: $white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($custom-colors, "himmel");
    -moz-transform: rotate(-7deg); /* Firefox 3.6 Firefox 4 */
    -webkit-transform: rotate(-7deg); /* Safari */
    -o-transform: rotate(-7deg); /* Opera */
    -ms-transform: rotate(-7deg); /* IE9 */
    transform: rotate(-7deg); /* W3C */
    position: relative;
    margin: var(--double-grid-margin);

    @include media-breakpoint-down(xl) {
        max-width: 180px !important;
        max-height: 180px !important;
        font-size: 24px;
        padding: 10px 25px 17px 25px !important;
    }
}

.brand-left {
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 150%;

    @include media-breakpoint-down(xl) {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 130%;
    }
}

.right-bar a {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.4px;
    font-weight: 700;
    transition: 0.3s ease;

    @include media-breakpoint-down(xl) {
        font-size: 16px;
        letter-spacing: 0.6px;
    }
}

.right-bar nav > ul:not(:has(:scope > li:nth-child(n+7))) {
    font-size: 18px;

    @include media-breakpoint-down(xl) {
        font-size: 16px;
    }
}

.right-bar .sub-menu a {
    font-weight: 500;
}

.colorscheme-light .right-bar .current_page_item {

    a {
        color: map-get($custom-colors, "klee") !important;
    }

    .sub-menu a {
        color: map-get($custom-colors, "schwarzwald") !important;
    }
}


.colorscheme-light .right-bar a {

    &:hover {
        color: map-get($custom-colors, "klee");
    }
}

body {
    font-size: 20px;
    line-height: 175%;
    letter-spacing: 0.6px;
    font-family: "PT Sans", sans-serif;

    @include media-breakpoint-down(xl) {
        font-size: 18px;
        line-height: 155%;
    }
}

body #content {

    .has-small-font-size,
    .article .has-small-font-size p,
    :where(.is-layout-flex) p.has-small-font-size,
    .small,
    label,
    table,
    .wp-block-query .wp-block-post-excerpt {
        font-size: 16px !important;
        line-height: 150%;
        letter-spacing: 0.9px;
        margin: calc(var(--gap-large) - 16px) 0 var(--gap-large) 0;


        @include media-breakpoint-down(xl) {
            font-size: 14px !important;
        }
    }

    .wp-block-latest-posts__post-author {
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.9px;

        @include media-breakpoint-down(xl) {
            font-size: 14px;
        }
    }

    .wp-block-latest-posts__post-author {
        font-style: italic;
    }


    label {
        margin: 0;
        padding: 0 20px;
    }
}

.metainfo,
.archive-article .time {
    font-size: 14px;
    line-height: 150%;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;


    @include media-breakpoint-down(xl) {
        font-size: 12px !important;
        line-height: 150%;
    }
}

body #content {


    h1 {
        margin-bottom: var(--gap-large);
    }

    h3,
    h2,
    p,
    .wp-block-query .wp-block-post-title,
    .wp-block-rss__item-title {
        margin-bottom: var(--grid-margin);

        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-top: 0;
        }

        &:only-child {
            margin-top: 0;
            margin-bottom: 0;
        }
    }


    h4,
    h5,
    h6 {
        margin-bottom: var(--half-grid-margin);

        &:last-child {
            margin-bottom: 0;
        }

        &:only-child {
            margin-top: 0;
            margin-bottom: 0;
        }
    }


    .wp-block-group.is-layout-flex:not(.is-vertical)
    :not(.is-vertical, .is-layout-constrained, .wp-block-post-excerpt) > h1,
    .wp-block-group.is-layout-flex:not(.is-vertical)
    :not(.is-vertical, .is-layout-constrained, .wp-block-post-excerpt) > h2,
    .wp-block-group.is-layout-flex:not(.is-vertical)
    :not(.is-vertical, .is-layout-constrained, .wp-block-post-excerpt) > p {
        margin-bottom: 0;
    }

    .wp-block-group.is-layout-flex.is-vertical {

        > h1,
        > h2,
        > h3,
        > h4 {
            margin-bottom: 0;
        }
    }

    h5:has(+ h1),
    h5:has(+ h2),
    h5:has(+ h3),
    h5:has(+ h4),
    .overline {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .wp-block-cover {

        h2 {
            margin-bottom: 0;
        }
    }
}


.wp-block-group.has-background:is(
.has-black-background-color,
.has-tanne-background-color
) {

    h2 {
        color: map.get($custom-colors, "white");
    }
}

.wp-block-group.has-background:is(
.has-klee-background-color,
.has-klee-700-background-color,
.has-grashalm-background-color
) {

    h2 {
        color: map.get($custom-colors, "white") !important;
    }
}

.has-sonne-background-color,
.has-sand-background-color,
.has-gray-background-color,
.has-kalk-background-color,
.has-white-background-color,
.has-weiss-background-color,
.has-gruener-sand-background-color,
.has-himmel-background-color {

    h2 {
        color: map.get($custom-colors, "tanne") !important;
    }
}


.colorscheme-green {

    .latest-posts,
    .has-weiss-background-color,
    .has-sonne-background-color,
    .has-sand-background-color,
    .has-gray-background-color,
    .has-kalk-background-color,
    .has-white-background-color,
    .has-gruener-sand-background-color,
    .wp-block-cover:has(span.has-weiss-background-color),
    .wp-block-cover:has(span.has-sonne-background-color),
    .wp-block-cover:has(span.has-sand-background-color),
    .wp-block-cover:has(span.has-gray-background-color),
    .wp-block-cover:has(span.has-kalk-background-color),
    .wp-block-cover:has(span.has-white-background-color),
    .wp-block-cover:has(span.has-gruener-sand-background-color) {

        p,
        body {
            color: map.get($custom-colors, "schwarzwald") !important;
        }

        h2 {
            color: map.get($custom-colors, "tanne") !important;
        }
    }

    .posts-slider {

        .p-45 p {
            color: map.get($custom-colors, "schwarzwald") !important;
        }
    }
}


.has-medium-font-size {
    line-height: 33px;
}

pre {
    background: transparent;
    padding: calc(var(--grid-margin) - 10px) var(--grid-margin) calc(var(--grid-margin) - 6px) var(--grid-margin);
}

.fa-envelope {
    font-family: ForkAwesome, sans-serif !important;
}
