$primary: #46962b;
$magenta: #e6007e;
$dark: #dddddd;
$darkgray: #333333;
$lightgray: #AEB2AD;
$very-dark-green: #072415;
$body-color: #363636;
$sidebar-color: #AFAFAF;


$lightgreen: #EFF2ED;
$darkgreen: #0A321E;

$border-radius: 10px;
$border-radius-small: 3px;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
) !default;

$font-size-base: 1.1875rem;
$small-font-size: 15px;
