$primary: #46962b;
$magenta: #e6007e;
$dark: #dddddd;
$darkgray: #333333;
$lightgray: #cccccc;
$body-color: #363636;
$sidebar-color: #666666;
$sidebar-color-dark: #363636;
$sidebar-color-lightgray: #AFAFAF;


$lightgreen: #EFF2ED;
$darkgreen: #002E16;

$border-radius: 10px;
$border-radius-small: 3px;


$navbar-dark-color: #ffffff;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
) !default;

$font-size-base: 1.1875rem;
