$custom-colors: (
    klee-600: #008939,
    klee-700: #006e2e,
    tanne-600: #005437,
    grashalm-600: #8abd24,
    himmel-600: #0ba1dd,
    neutral-600: #f5f1e9,
    sun-600: #fff17a,
    black: #000,
    grey-500: #6b7a80,
    white: #fff
);

$very-light-gray: #d6d9d6;

$primary: map-get($custom-colors, "klee-600");
$secondary: map-get($custom-colors, "tanne-600");
$white: map-get($custom-colors, "white");

$black: map-get($custom-colors, "black");
$black-500: map-get($custom-colors, "black-500");

$white: map-get($custom-colors, "white");
$white-90: rgba(255, 255, 255, 0.9);


$dark: #ddd;
$darkgray: #333;
$lightgray: #aeb2ad;
$very-dark-green: #072415;
$body-color: #201d1b;
$sidebar-color: #afafaf;

$lightgreen: #e5f3eb;
$neutral: #f5f1e9;
$darkgreen: #002216;

$border-radius: 3px;
$border-radius-small: 1px;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px) !default;

$font-size-base: 1.1875rem;
$small-font-size: 15px;
