$custom-colors: (
        green-500: #46962b,
        green: #46962b,
        green-800b: #224634,
        magenta :#e6007e,
        magenta-600: #BF0069,
        green-550: #3C8025,
        white: #ffffff,
        yellow-500: #ffd500,  
        blue-500 :#4cb4e7,
        blue-600: #4097c2,  
        gray-100 :#EFF2ED, 
        black-500 :#363636
);

$very-light-gray: #D6D9D6;
$green: map-get($custom-colors, 'green-500');
$green-550: map-get($custom-colors, 'green-550');

$white-90: rgba(255,255,255,0.9);

$primary: $green;

$dark: #dddddd;
$darkgray: #333333;
$lightgray: #AEB2AD;
$very-dark-green: #072415;
$body-color: #363636;
$sidebar-color: #AFAFAF;

$lightgreen: #EFF2ED;
$darkgreen: #0A321E;

$border-radius: 10px;
$border-radius-small: 3px;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
) !default;

$font-size-base: 1.1875rem;
$small-font-size: 15px;
