.widget{
    margin-bottom: 5rem;
    color: $lightgreen;

    ul{
        list-style-type: none;
        padding-left: 0;
        position: relative;

        li{
            border-bottom: 1px solid $sidebar-color;
            padding: 0.75rem 0;
            position: relative;
        }

        a{
            color: $white-90;
            text-decoration: none;

            &:hover{
                color: $primary;
            }
        }
    }

    &-title{
        @include themed() {
            font-family: t('standardFont');
        }
        font-weight: bold; 
        font-size: 1.3rem;
        color: $white-90;
        letter-spacing: 0.3px;
    }

    &_search{
        input,
        input:focus{
            border: 1px solid $sidebar-color;
            padding: 4px;
            border-radius: 0;
            background: none;
            color: white;
        }
        
        label{
            position: relative;
            &:after{
                content: "\f002";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                position: absolute;
                top: 5px;
                right: 10px;
            }
        }

        input[type=submit]{
            display: none;
        }
    }

    &_categories{
        li{
            a{
                display: block;
            }

            &:after{
                content: "\f054";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                position: absolute;
                right: 1rem;
                top: 0.8rem;
            }
        }
        
    }

    &_recent_entries{
        .post-date{
        display: block;
        font-style: italic;
        font-size: 90%;
        margin-top: 0.2rem;
     }

    }

    .tagcloud{
        display: flex;
        flex-wrap: wrap;

        a{
            font-size: 80% !important;
            text-decoration: none;
            color: inherit;
            border: 1px solid $sidebar-color;
            border-radius: $border-radius-small;
            padding: 0.3rem 0.5rem;
            margin: 0 0.3rem 0.5rem 0;

            &:hover{
                background-color: $white;
                color: $sidebar-color;
            }
        }
    }

    &_archive{
        select{
            border: 1px solid $sidebar-color;
            padding: 0.2rem;
        }
    }

    &_sunflower_follow_us{
        .widget-container{
            display: flex;
            flex-wrap: wrap;
        }
        .social-media-profile{
            background-color: $sidebar-color;
            width: 30px;
            height: 30px;
        }
        svg{
            fill: white;
            width: 20px;
        }
    }
}