@use "sass:map";


.stuck {

    .header-widget-area {
        display: none;
    }
}

.header-widget-area {
    left: var(--double-grid-margin);
    position: absolute;
    top: 140px;
    display: flex;
    gap: var(--gap-large);

    @include media-breakpoint-down(xl) {
        top: 125px;
    }

    @include media-breakpoint-down(md) {
        top: 110px;
    }
}

.footer-widget-area {
    gap: var(--gap-large);

    &--right {
        right: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;

        @include media-breakpoint-down(xl) {
            align-items: flex-start;
            width: 100%;
        }
    }

    &--center {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include media-breakpoint-down(xl) {
            align-items: flex-start;
        }
    }
}

.hamburger-menu {

    .header-widget-area {
        top: calc(100vh - 53px);
        left: var(--half-grid-margin);

        .widget_sunflower_contact {
            display: none;
        }
    }
}

.footer-widget-area {

    .widget_search {
        width: 100%;
        position: relative;
        transition: 300ms ease-out;

        input[type="search"],
        label {
            width: 100%;
        }

        &:hover,
        &:active,
        &:focus-within {
            width: 100% !important;

            input[type="search"] {
                width: 100% !important;
            }
        }

        @include media-breakpoint-down(md) {
            width: 100%;

            input[type="search"] {
                width: 100%;
            }
        }

        @include media-breakpoint-down(sm) {
            width: 100%;

            input[type="search"] {
                width: 100%;
            }
        }

    }
}


.widget_search {
    width: 46px;
    position: relative;
    transition: 300ms ease-out;

    &:hover,
    &:active,
    &:focus-within {
        width: 400px;

        input[type="search"] {
            width: 400px;
        }

        @include media-breakpoint-down(md) {
            width: 300px;

            input[type="search"] {
                width: 300px;
            }
        }

        @include media-breakpoint-down(sm) {
            width: 280px;

            input[type="search"] {
                width: 280px;
            }
        }
    }

    input[type="search"] {
        padding-left: 20px;
        transition: 300ms ease-out;
        outline: none !important;
        border-radius: 23px;
    }

    .search-submit {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        height: 46px;
        width: 46px;
        border: none;
        cursor: pointer;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 18px;
            color: map.get($custom-colors, "tanne");
            margin: 0 0 1px 0;
        }
    }
}

.widget_sunflower_contact {
    font-size: 16px !important;
    line-height: 150%;
    letter-spacing: 0.9px;
    margin: 0;
    width: fit-content;
    min-width: calc(200px - var(--grid-margin));

    @include media-breakpoint-down(xl) {
        font-size: 14px !important;
    }

    .contact-title {
        font-weight: 700;
        font-size: 1.1em;
    }
}

.sunflower-contact-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: fit-content;

    li {
        display: flex;
        align-items: flex-start;
        gap: var(--gap-small);
        padding: 0;
        border-bottom: none;
        margin-bottom: var(--gap-small) !important;
        font-family: "PT Sans", sans-serif !important;
        font-weight: 400;
        color: map.get($custom-colors, "tanne");

        a {
            font-family: "PT Sans", sans-serif !important;
            font-weight: 400;
            color: map.get($custom-colors, "tanne") !important;

            &:hover {
                color: map.get($custom-colors, "klee") !important;
            }
        }

        i {
            flex-shrink: 0;
            width: 1.2em;
            text-align: center;
            top: 3.5px;
            position: relative;
            color: map.get($custom-colors, "tanne");
        }

        span {
            flex: 1;
        }
    }
}
