.sticky {
    display: block;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.display-single {

    padding: 130px 0 0 0;

    .entry-header {

        @include themed-colorscheme() {
            background-color: t(background);
            color: t(text);
            border-radius: t(border-radius);
        }

    }
}


.site {

    .page-header {
        padding: 130px 0 0 0;

        @include themed-colorscheme() {
            background-color: t(background);
            color: t(text);
            border-radius: t(border-radius);
        }

    }
}

