.sunflower-candidate {

    gap: 1rem;

    h1 {
        padding: 0;
        margin: 0;
    }

    h2 {
        padding: 0;
        margin: 0;
    }

    p {
        padding: 0;
    }

    .wp-block-cover {

        p {
            margin: 0;
            line-height: normal;
        }

    }
}
