/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wp-block-sunflower-latest-posts-y {
	background-color: #f5f1e9;
	color: #000;
	padding: 2px;

    color: white;
    border: 2px solid #005437;

    padding: 30px 20px 20px 30px;
    background-image: url('/assets/img/sunflower.svg');
    background-repeat: no-repeat;
    background-position: 2px 2px;
    background-size: 32px;

}
