/* Error: Undefined mixin.
 *    ,
 * 13 | /     @include themed-colorscheme-nested() {
 * 14 | |         background-color: t(btn-pr-background);
 * 15 | |         color: t(btn-pr-text);
 * 16 | \     }
 *    '
 *   sass/wp-blocks/button.scss 13:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 13 \2502  \250c      @include themed-colorscheme-nested() {\a 14 \2502  \2502          background-color: t(btn-pr-background);\a 15 \2502  \2502          color: t(btn-pr-text);\a 16 \2502  \2514      }\a    \2575 \a   sass/wp-blocks/button.scss 13:5  root stylesheet";
}
