/* Error: Undefined mixin.
 *    ,
 * 23 | /         @include media-breakpoint-down(md) {
 * 24 | |             padding-top: 50px;
 * 25 | |             padding-bottom: 50px;
 * 26 | \         }
 *    '
 *   sass/wp-blocks/styled-layout.scss 23:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 23 \2502  \250c          @include media-breakpoint-down(md) {\a 24 \2502  \2502              padding-top: 50px;\a 25 \2502  \2502              padding-bottom: 50px;\a 26 \2502  \2514          }\a    \2575 \a   sass/wp-blocks/styled-layout.scss 23:9  root stylesheet";
}
