.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comment-respond {
    position: relative;
    border-radius: var(--border-radius-medium) !important;
    padding: var(--double-grid-margin) var(--half-grid-margin) var(--grid-margin) var(--half-grid-margin);
    margin: var(--half-block-spacing) 0;

    @include themed-colorscheme-nested() {
        border: 2px solid t(form-section-border);
    }
}

.comment-respond #contact-form-title {
    position: absolute;
    top: 0;
    left: 32px;
    margin-top: 0;
    transform: translateY(-50%);
    padding: 0.4em;
    font-family: "GrueneType Neue", serif;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;

    @include themed-colorscheme-nested() {
        background-color: t(form-section-title-background);
        color: t(form-section-title-color);
    }

    &::before {
        content: "";
        position: absolute;
        left: -6px;
        top: 16.2px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 33px 6px;

        @include themed-colorscheme-nested() {
            border-color: transparent transparent t(form-section-title-background) transparent;
        }

    }

    &::after {
        content: "";
        position: absolute;
        right: -6px;
        top: 16.5px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 33px 6px 0 0;

        @include themed-colorscheme-nested() {
            border-color: t(form-section-title-background) transparent transparent transparent;
        }

    }


}

