.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comment-respond {
    position: relative;
    border-radius: 15px !important;
    padding: 30px;
    margin: 50px;
    @include themed-colorscheme-nested() {
        border: 2px solid t(form-section-border);
    }
}

.comment-respond #contact-form-title {
    position: absolute;
    top: 0;
    left: 50px;
    margin-top: 0px;
    transform: translateY(-50%);
    padding: 0.2em 0.8em;
    font-family: "GrueneType Neue";
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    @include themed-colorscheme-nested() {
        background-color: t(form-section-title-background);
        color: t(form-section-title-color);
    }
}
