ul.wp-block-list {

    list-style-type: disc;

    li {
        padding: 0;
        margin-left: 30px;
    }

    &.is-style-sunflower-checkmark {

        list-style-type: none;

        li {

            padding-left: 30px;
            margin-left: 0;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 6px;
                width: 21px;
                height: 21px;
                mask-image: url("../../../assets/img/bullet.svg");
                background-color: currentcolor;
            }
        }
    }
}
