ul.wp-block-list.is-style-sunflower-checkmark {
    list-style: none;

    margin: 0;
    padding: 0;

    li {
        position: relative;
        padding-left: 30px;

        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 6px;
            width: 21px;
            height: 21px;
            mask-size: contain;

            mask-image: url("../../../assets/img/bullet.svg");
            background-color: currentcolor;

        }
    }
}
