@use "sass:map";

.wp-block-sunflower-meta-data {

    a {
        color: inherit;
        margin-right: 1em;

        &:hover {
            color: $primary;
        }
    }
}

.latest-posts {
    width: calc(100% + var(--double-grid-margin)) !important;
    max-width: calc(100% + var(--double-grid-margin)) !important;

    article {
        border-radius: $border-radius;
        margin-bottom: 10px;

        a {
            text-decoration: none;
        }

        .post-thumbnail {

            img {
                border-radius: $border-radius $border-radius 0 0;
            }
        }
    }

    .entry {

        &-header {
            padding-bottom: 0 !important;
        }

        &-content {

            a {
                color: $body-color;
            }
        }
    }
}


blockquote,
blockquote.wp-block-quote {
    margin-bottom: var(--grid-margin);
    border-radius: var(--border-radius-medium);
    padding: calc(var(--grid-margin) - 5px) var(--grid-margin) calc(var(--grid-margin) - 2px) var(--grid-margin);
    font-size: 21px;
    font-family: "GrueneType Neue", sans-serif;
    color: map.get($custom-colors, "tanne");

    &:nth-of-type(odd) {
        background-color: map.get($custom-colors, "sand");
    }

    &:nth-of-type(even) {
        background-color: map.get($custom-colors, "gruener-sand");
    }

    p {
        margin: 0;
    }
}
