.wp-block-sunflower-meta-data {

    a {
        color: inherit;
        margin-right: 1em;

        &:hover {
            color: $primary;
        }
    }
}

.latest-posts {

    article {
        border-radius: $border-radius;
        margin-bottom: 10px;

        a {
            text-decoration: none;
        }

        .post-thumbnail {

            img {
                border-radius: $border-radius $border-radius 0 0;
            }
        }
    }

    .entry {

        &-header {
            padding-bottom: 0 !important;
        }

        &-content {

            a {
                color: $body-color;
            }
        }
    }


}

.wp-block-sunflower-accordion:last-of-type {
    margin-bottom: 50px;
}
