@use "sass:map";

.wp-block-sunflower-meta-data {

    a {
        color: inherit;
        margin-right: 1em;

        &:hover {
            color: $primary;
        }
    }
}

.latest-posts {
    width: calc(100% + var(--double-grid-margin)) !important;
    max-width: calc(100% + var(--double-grid-margin)) !important;

    article {
        margin-bottom: 10px;

        a {
            text-decoration: none;
        }

        .post-thumbnail {

            img {
                border-radius: $border-radius $border-radius 0 0;
            }
        }
    }

    .entry {

        &-header {
            padding-bottom: 0 !important;
        }

        &-content {

            a {
                color: $body-color;
            }
        }
    }
}

.wp-block-pullquote {
    padding: 0 !important;

    blockquote {
        color: map.get($custom-colors, "tanne");
        text-align: left;
        margin: calc(var(--grid-margin) + 4px) 0 var(--grid-margin) 0;
    }

    cite {
        margin-top: var(--grid-margin);
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 1.2px;
        color: map.get($custom-colors, "klee");

        @include media-breakpoint-down(xl) {
            font-size: 16px;
            line-height: 150%;
        }
    }
}


blockquote,
blockquote.wp-block-quote {
    margin: calc(var(--grid-margin) + 4px) 0 var(--grid-margin) 0;
    border-radius: var(--border-radius-medium);
    padding: calc(var(--grid-margin) - 5px) var(--grid-margin) calc(var(--grid-margin) - 2px) var(--grid-margin);
    font-size: 21px;
    font-family: var(--wp--preset--font-family--gruenetypeneue);
    color: map.get($custom-colors, "tanne");

    &:nth-of-type(odd) {
        background-color: map.get($custom-colors, "sand");
    }

    &:nth-of-type(even) {
        background-color: map.get($custom-colors, "gruener-sand");
    }

    p {
        margin: 0;
    }
}
