@use "sass:map";

.latest-posts {
    background-color: map.get($custom-colors, "gruener-sand") !important;
    margin: 0 calc(-1 * var(--grid-margin)) !important;
    padding: var(--half-block-spacing) var(--grid-margin);
    overflow: hidden;

    > .wp-block-group__inner-container {
        max-width: 1400px;
        width: calc(100% + var(--double-grid-margin));
    }

    h2 {
        text-align: left !important;
    }

    .posts-slider {
        align-items: stretch;

        .col-12 {
            display: flex;
        }


        article {

            @include card;

            cursor: move;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;


            &:active {
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
            }


            a:has(.wp-post-image) {
                transform-origin: bottom center;
                position: absolute;
                width: calc(100% + 4px);
                max-width: calc(100% + 4px);
                top: -2px;
                left: 0;
                margin-left: -2px;
                margin-right: -2px;
                height: 254px;
                transition: 600ms ease-out;
                overflow: hidden;
                border-radius: calc(var(--border-radius-medium) - 2px) calc(var(--border-radius-medium) - 2px) 0 0;

                .wp-post-image {
                    width: 100%;
                    position: relative;
                    height: 254px;
                    transition: 400ms ease-out;
                }
            }

            .icon-arrow {
                position: relative;
                left: 0;
                transition: 300ms ease-out;
            }

            &:has(.wp-post-image) {

                .p-45 {
                    margin-top: 254px;
                }
            }

            .p-45 {
                padding: 0 !important;
                width: 100%;

                .entry-header {

                    .entry-meta {
                        display: flex;
                        justify-content: space-between;
                        color: map.get($custom-colors, "klee") !important;
                        margin-bottom: 27px !important;
                        position: relative;
                        transition: 400ms ease-out;
                        top: 0;

                        .mb-1 {
                            margin-bottom: 0 !important;
                        }

                        .roofline {
                            color: map.get($custom-colors, "klee") !important;
                            transition: 300ms ease-out;
                            padding-left: var(--grid-margin);
                        }

                        .posted-on {
                            white-space: nowrap;
                            letter-spacing: 0.5px;
                            transition: 300ms ease-out;
                        }

                        .metainfo {
                            width: fit-content;
                            display: inline-block;
                        }
                    }

                    h2,
                    h2 a {
                        color: map.get($custom-colors, "klee") !important;
                        transition: 300ms ease-out;
                    }

                    h2 {
                        margin-bottom: var(--half-grid-margin) !important;
                    }
                }

                .entry-content {

                    p {
                        margin-bottom: var(--gap-small);
                    }
                }
            }
        }
    }
}
