@use "sass:map";

.wp-block-social-links .wp-block-social-link.wp-social-link {
    display: inline-block;
    margin: 0;
    padding: 0;

    @include themed-colorscheme-nested() {
        background-color: t(pagination-background);
        color: t(pagination-text);
        border: 2px solid t(pagination-border);
    }
}

.wp-block-social-links .wp-block-social-link.wp-social-link:hover {

    @include themed-colorscheme-nested() {
        background-color: t(pagination-hover-background);
        color: t(pagination-hover-text);
        border-color: t(pagination-hover-background);
    }
}

.wp-block-social-links .wp-block-social-link-anchor {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: transparent;
    border: 0;
    padding: 0;
    height: auto;
    min-height: 0;
    box-shadow: none;
    line-height: 1;
    font-weight: 400;
    color: inherit;
}

.wp-block-social-links .wp-block-social-link-anchor.wp-element-button {
    border-radius: 50%;
}

.wp-block-sunflower-meta-data a.text-danger {
    color: inherit;
}


.social-media-profile {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map.get($custom-colors, "white");
    border-radius: 50%;
    margin: 3px;
    border: 2px solid map.get($custom-colors, "tanne");
    transition: 400ms ease-out;
    opacity: 1 !important;

    i {
        color: map.get($custom-colors, "tanne") !important;
        transition: 400ms ease-out;
        opacity: 1 !important;
    }

    &:hover {
        border: 2px solid map.get($custom-colors, "klee");
        background: map.get($custom-colors, "klee");

        i {
            color: map.get($custom-colors, "white") !important;
        }
    }
}
