@use "sass:map";

/**
 * Styles for the WordPress Social Links Block
 */
.wp-block-social-links {

    .wp-block-social-link.wp-social-link {

        display: inline-block;
        margin: 0;
        padding: 0;

        @include themed-colorscheme-nested() {
            background-color: t(input-background);
            color: t(btn-pr-background);
            border: 2px solid t(btn-pr-background);
        }

        &:hover {

            @include themed-colorscheme-nested() {
                background-color: t(input-icon);
                color: t(input-background);
                border-color: t(input-icon);
            }
        }

        .wp-block-social-link-anchor {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background: transparent;
            border: 0;
            padding: 0;
            height: auto;
            min-height: 0;
            box-shadow: none;
            line-height: 1;
            font-weight: 400;
            color: inherit;

            &.wp-element-button {
                border-radius: 50%;
            }
        }

    }
}

/**
 * Styles for the Sunflower Social Media Profile Block
 */
.wp-block-sunflower-meta-data {

    .is-empty,
    .sunflower-meta-data__link {

        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        @include themed-colorscheme-nested() {
            background-color: t(input-background);
            color: t(btn-pr-background);
            border: 2px solid t(btn-pr-background);
        }

        &:hover {

            @include themed-colorscheme-nested() {
                background-color: t(input-icon);
                color: t(input-background);
                border-color: t(input-icon);
            }
        }

    }

    .is-empty {
        opacity: 0.6;
    }
}

/**
 * Styles for the Social Media Profile Block in header and footer.
 */
.social-media-profile {

    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 3px;
    transition: 400ms ease-out;
    opacity: 1;

    @include themed-colorscheme-nested() {
        background-color: t(input-background);
        color: t(btn-pr-background);
        border: 2px solid t(btn-pr-background);
    }

    &:hover {

        @include themed-colorscheme-nested() {
            background-color: t(input-icon);
            color: t(input-background);
            border-color: t(input-icon);
        }
    }
}
