.wp-block-button__link {
    background-color: $primary;
    color: $white;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 3px;

    // required to get pre WP 6.8 styles
    height: auto;
    width: auto;

    @include themed() {
        font-family: t(standardFont);
    }

    &:hover {
        background-color: $secondary;
    }

    &:hover,
    &:visited {
        color: $white;
    }

    &:focus {
        color: $white;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #000;
    }
}
