@use "sass:map";

.wp-block-buttons {
    gap: var(--grid-margin);
}

.wp-block-button__link,
input[type="submit"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.sunflower-post-navigation a {
    border-radius: 23px;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.6px;
    height: 46px;
    width: initial;
    font-family: "PT Sans", sans-serif;
    padding: 0 35px 4px 35px;
    transition: 0.3s ease;
    border: 2px solid $button-border;
    background-color: $button-background !important;
    color: $primary !important;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover {
        color: $white !important;
        text-decoration: none;
        background-color: $button-hover !important;
        border: 2px solid $button-hover;
    }

    &:hover {
        color: $white;
    }

    &:focus {
        color: $white;
        outline: 2px solid map.get($custom-colors, "sonne");
        background-color: map.get($custom-colors, "tanne");
    }

    // Sekundärstil
    .sekundaer & {

        @include themed-colorscheme-nested() {
            background-color: t(btn-sk-background);
            color: t(btn-sk-text);
            border: 2px solid t(btn-sk-text);
        }

        &:hover {

            @include themed-colorscheme-nested() {
                background-color: t(btn-hover-background);
                color: t(btn-hover-text);
            }
        }
    }

    // Highlight-Stil (immer dominant)
    .highlight & {

        @include themed-colorscheme-nested() {
            background-color: t(btn-hl-background);
            color: t(btn-hl-text);
            border-color: t(btn-hl-text);
        }

        &[class*="fa-"] {
            padding-left: 2.5em;
        }

        &:hover {

            @include themed-colorscheme-nested() {
                background-color: t(btn-hl-hover-background);
                color: t(btn-hl-hover-text);
            }
        }

        &::before {
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            position: absolute;
            margin-left: -1.5em;

            @include themed-colorscheme-nested() {
                color: t(btn-hl-icon);
            }
        }
    }

    // Icon-Stil, nur wenn KEIN Highlight
    .wp-block-button:not(.highlight) &.fa-solid,
    .wp-block-button:not(.highlight) &[class*="fa-"] {
        padding-left: 2.5em;
        position: relative;

        @include themed-colorscheme-nested() {
            background-color: t(btn-sk-background);
            color: t(btn-sk-text);
            border: 2px solid t(btn-sk-border);
        }

        &::before {
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            position: absolute;
            left: 1em;

            @include themed-colorscheme-nested() {
                color: t(btn-sk-icon);
            }
        }

        &:hover {

            @include themed-colorscheme-nested() {
                background-color: t(btn-hover-background);
                color: t(btn-hover-text);
            }

            &::before {

                @include themed-colorscheme-nested() {
                    color: t(btn-hover-text);
                }
            }
        }
    }
}

@include media-breakpoint-down(xl) {

    .wp-block-button__link {
        font-size: 16px;
        letter-spacing: 0.5px;
        padding: 0 25px 4px 25px;
    }
}

