.wp-block-columns {
    margin-bottom: 0;

    .wp-block-column {

        .wp-block-group {
            padding: 0;
        }

        .wp-block-table {

            td,
            th {
                padding: 0.5em 1em;
            }
        }

        p,
        ul {

            &.textbalken {
                padding: 0 0.5em;
            }
        }

        img {
            object-fit: cover;
            border-radius: $border-radius;
        }
    }

    &.no-gap.is-layout-flex {
        gap: 0;

        p,
        ul {
            padding: 0 1em;
        }
    }

}

@include media-breakpoint-up(sm) {

    .same-height {

        .wp-block-column {

            .wp-block-image {

                img {
                    max-height: 200px;
                }
            }
        }
    }
}


@include media-breakpoint-up(xl) {

    .same-height {

        .wp-block-column {

            .wp-block-image {

                img {
                    max-height: 230px;
                }
            }
        }
    }

    .wp-block-column {
        margin-bottom: 0;
    }
}
