
.wp-block-column{
    img{
        width: 100%;
        object-fit: cover;
        border-radius: $border-radius;
    }
}

@include media-breakpoint-up(sm) { 
    .same-height{
        .wp-block-column{
            img{
                max-height: 200px;
            }
        }
    }
}

@include media-breakpoint-up(sm) { 
    .wp-block-columns{
    }
}

@include media-breakpoint-up(xl) { 
    .same-height{
        .wp-block-column{
            img{
                max-height: 230px;
            }
        }
    }
}