.entry-content > .wp-block-cover {

    @include themed() {
        font-family: t(headingFontBold);
    }

    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
    // padding: 25px;
    padding-left: 20vw;
    padding-right: 20vw;

    &.wp-block-group-is-layout-flow,
    .wp-block-cover__inner-container {
        max-width: map-get($container-max-widths, "xl");
    }
}

.wp-block-column {

    .wp-block-cover {
        overflow: hidden;
        border-radius: $border-radius;
    }
}
