@use "sass:map";

.entry-content > .wp-block-cover {

    // @include themed() {
    //     font-family: t(headingFontBold);
    // }

    width: 100%;
    height: calc(100vh - var(--double-grid-margin));
    margin-top: var(--grid-margin);
    transition: 0.3s ease;
    margin-bottom: var(--half-block-spacing);
    border-radius: var(--border-radius-large);
    overflow: hidden;

    .wp-block-cover__image-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 105%;
        object-fit: cover;
        transform: translateY(0);
        will-change: transform;
        z-index: 0;
    }


    .wp-block-cover__inner-container {
        background-color: $white;
        border-radius: 0 30px 0 0;
        position: absolute;
        left: 0;
        bottom: 0;
        width: fit-content;
        padding: 5px 50px 0 25px;
        max-width: 70%;

        @include media-breakpoint-down(xl) {
            border-radius: 0 20px 0 0;
        }

        h1 {
            color: map.get($custom-colors, "tanne") !important;
            text-align: left;
            margin-bottom: var(--grid-margin);
            position: relative;
        }

        &::before {
            content: url("assets/img/concave-30px.svg");
            height: 30px;
            width: 38.16px;
            position: absolute;
            rotate: -180deg;
            top: -16.8px;
            left: -0.3px;

            @include media-breakpoint-down(xl) {
                height: 20px;
                width: 25.44px;
                top: -11.5px;
                left: 0;
            }
        }

        &::after {
            content: url("assets/img/concave-30px.svg");
            height: 30px;
            width: 38.16px;
            position: absolute;
            rotate: 180deg;
            bottom: -12.5px;
            right: -37.7px;

            @include media-breakpoint-down(xl) {
                height: 20px;
                width: 25.44px;
                right: -25.2px;
                bottom: -8.5px;
            }
        }
    }
}

.wp-block-column {

    .wp-block-cover {
        overflow: hidden;
        border-radius: var(--border-radius-medium);
    }
}
