
.wp-block-gallery{
    .blocks-gallery-item{
        img{
            border-radius: $border-radius;
        }
        figure{
            flex-direction: column;
        }
        figcaption{
            position: relative;
            width: unset;
            color: inherit;
            text-align: right;
            font-size: $small-font-size;
            background: none;
            margin-right: 0.3em;
            margin-top: 0.5em;
            padding: 0px;
            flex: None
        }

        @include media-breakpoint-down(md) { 
            width: 100%;
            margin-right: 0;
        }
    }
}