.wp-block-group {

    position: relative;
    padding-top: var(--half-block-spacing);
    padding-bottom: var(--half-block-spacing);
    margin-left: auto;
    margin-right: auto;

    .wp-block-group {
        padding-top: var(--gap-large);
        padding-bottom: var(--gap-large);
    }

    &.wp-block-group-is-layout-flow > h2,
    .wp-block-group__inner-container > h2 {
        margin-bottom: var(--double-grid-margin);
    }

    &.is-layout-flex {
        column-gap: var(--gap-large);

        .wp-block-group.is-layout-flex {
            column-gap: var(--grid-margin);
        }
    }

    @media (max-width: 1200px) {
        width: 100%;
    }


    &:has(.all-columns-start-with-image) {
        margin: 0 auto;
    }


    .all-columns-start-with-image {

        h2.even,
        h2.odd,
        h3,
        h4,
        h5,
        h6 {
            color: $primary;
        }

        @include media-breakpoint-down(xl) {

            .wp-block-column {
                flex-basis: 100% !important;
                flex-grow: unset;
            }
        }

        .wp-block-button {
            width: 100% !important;
        }
    }

    .wp-block-button {
        margin-top: 0;
        max-width: 100%;
        width: fit-content;

        .wp-block-button {
            margin-top: var(--gap-small);
        }
    }

    &__inner-container {
        margin: 0 auto;
    }

    .wp-block-columns {
        margin: 0 auto;

        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column !important;
            row-gap: var(--double-grid-margin);
        }
    }

    &__inner-container {
        max-width: 100%;
    }

}

:where(.wp-block-columns.is-layout-flex) {
    column-gap: 20px !important;
    row-gap: var(--double-grid-margin);

    @include media-breakpoint-down(md) {
        column-gap: calc(2 * var(--grid-margin)) !important;
    }
}

.d-flex {

    .wp-block-group__inner-container {
        display: flex !important;
    }

}

.two-cols-headline-only {

    .wp-block-column {
        display: block;
    }

    .wp-block-column:has(h1, h2, h3, h4, h5, h6) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.wp-block-group:has(.all-columns-start-with-image) {
    column-gap: 20px !important;

    @include media-breakpoint-down(md) {

        width: 100% !important;


        .wp-block-columns {
            row-gap: var(--half-block-spacing) !important;
        }
    }

    h2 {
        text-align: center !important;

        @media (max-width: 781px) {
            text-align: inherit !important;
        }
    }

    .wp-block-columns.all-columns-start-with-image {

        .wp-block-column .wp-block-image {
            border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
            overflow: hidden !important;
            margin-bottom: var(--gap-large);
            margin-top: 0;

            img {
                max-height: 250px;
                width: 100%;

                @include media-breakpoint-down(sm) {
                    max-height: 210px;
                }
            }
        }

        p {
            font-weight: 300;
        }
    }
}


.wp-block-media-text {
    padding-top: var(--half-block-spacing);
    padding-bottom: var(--half-block-spacing);
    margin: 0 auto;

    @include media-breakpoint-down(xl) {
        width: 100% !important;
    }

    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column !important;
        row-gap: var(--double-grid-margin);

    }


    &__media {
        border-radius: var(--border-radius-large);
        overflow: hidden;
    }

    &__content {
        padding: 0 0 0 var(--double-grid-margin) !important;

        @include media-breakpoint-down(md) {
            padding: 0 !important;
        }
    }

    &.has-media-on-the-right {

        .wp-block-media-text__content {
            padding: 0 var(--double-grid-margin) 0 0 !important;

            @include media-breakpoint-down(md) {
                padding: 0 !important;
            }
        }
    }
}


.wp-block-group.is-vertical,
.wp-block-column {

    figure {
        margin-bottom: var(--gap-large);
    }
}
