.wp-block-group {

    position: relative;
    width: 100%;
    padding-top: var(--half-block-spacing);
    padding-bottom: var(--half-block-spacing);

    &__inner-container {
        margin: 0 auto;
    }

    .wp-block-columns {
        width: calc(83.3% - 180px);
        margin: 0 auto;
        max-width: 1400px;
    }

    &.alignfull {
        width: 100vw;

        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        margin-top: var(--half-block-spacing);
        margin-bottom: var(--half-block-spacing);

        @include media-breakpoint-down(xl) {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @include media-breakpoint-down(sm) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        > p {
            max-width: map-get($container-max-widths, "xl");
        }
    }

    &__inner-container {
        max-width: map-get($container-max-widths, "xl");
    }

}

.d-flex {

    .wp-block-group__inner-container {
        display: flex !important;
    }

}

.two-cols-headline-only {

    .wp-block-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.wp-block-columns.all-columns-start-with-image {

    width: 100%;

    .wp-block-column .wp-block-image:nth-of-type(1) {
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
}
