.wp-block-group {

    position: relative;

    &.alignfull {
        width: 100vw;

        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);

        @include media-breakpoint-down(xl) {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @include media-breakpoint-down(sm) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        > p {
            max-width: map-get($container-max-widths, "xl");
        }
    }

    &__inner-container {
        max-width: map-get($container-max-widths, "xl");
    }

}

.d-flex {

    .wp-block-group__inner-container {
        display: flex !important;
    }
}
