.wp-block-group{

    padding: 0;
    
    &.has-background{
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        display: flex;
        justify-content: center;

        .wp-block-group__inner-container{
           max-width: 100%;
        } 

        @include media-breakpoint-up(md) { 
            .wp-block-group__inner-container{
                max-width: 1155px;
             } 
        }



    }

    &__inner-container{
        max-width: map-get($container-max-widths, 'xl');
    } 
}

.d-flex{
    .wp-block-group__inner-container{
        display: flex !important;
    }
}