.wp-block-image{
    margin-bottom: 0;
    border-radius: $border-radius;

    &:not(.is-style-rounded){
        img{
            border-radius: $border-radius;
        }
    }

    figcaption{
        position: relative;
        width: unset;
        color: inherit;
        text-align: right;
        font-size: $small-font-size;
        background: none;
        margin-right: 0.3em;
        margin-top: 0.5em;
    }
}
