.wp-block-image{
    margin-bottom: 0;
    border-radius: $border-radius;

    figcaption{
        position: relative;
        width: unset;
        padding: 5px 0 0 0;
        color: inherit;
        text-align: right;
        font-size: $small-font-size;
        background: none;
        margin-right: 0.3em;
        margin-top: 0.5em;
    }
}