.wp-block-image {
    margin-bottom: 0;
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    position: relative;

    &:not(.is-style-rounded) {

        img {
            border-radius: 0;
        }
    }

    :where(figcaption) {
        margin-bottom: 0;
        margin-top: 0;
    }


    figcaption {
        width: 100%;
        color: inherit;
        text-align: right;
        font-size: 12px !important;
        line-height: 125%;
        background: none;
        padding: calc(var(--gap-small) / 2) var(--gap-small);
        position: absolute;
        bottom: 0;

        backdrop-filter: blur(25px) saturate(200%);
        -webkit-backdrop-filter: blur(25px) saturate(200%);
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
}
