.wp-block-media-text {

    .wp-block-media-text__media {

        figcaption {
            font-size: $small-font-size;
            text-align: right;
            margin: 0.3em 0.3em 0.5em 0.3em;
        }
    }
}
