.wp-block-media-text.person {
    display: flex;
    flex-direction: column;
    height: 100%;

    .person {

        &-name {
            font-size: 30px;
            font-weight: 700;

            @include themed() {
                font-family: t("headingFontBold");
            }
        }
    }

    // `h4` is for compatibility - same as class `person-name`
    .h4 {
        font-size: 30px;
        font-weight: 700;

        @include themed() {
            font-family: t("headingFontBold");
        }

        margin-bottom: 1rem;

    }

    .wp-block-media-text__content {
        padding: 20px;
        align-self: start;
        width: 100%;
        height: 100%;
        background: $white;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    .wp-block-media-text__media {
        align-self: auto;
    }

    .wp-block-media-text__media,
    .wp-block-image {

        img {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;

        }

        figcaption {
            font-size: $small-font-size;
            text-align: right;
        }
    }
}

.wp-block-columns {

    .person {

        img {
            height: 300px;
            max-height: 300px;
        }
    }
}
