@use "sass:map";


body.colorscheme-green .container .entry-content .wp-block-media-text.person {
    background-color: #000;
    border-radius: var(--border-radius-large);

    .person-name {
        color: map.get($custom-colors, "white");
    }
}

.wp-block-media-text.person {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 !important;

    .person-name,
    .h4 {
        font-weight: 700;
        text-transform: uppercase;
        color: map.get($custom-colors, "tanne");
    }

    .wp-block-media-text__content {
        padding: var(--grid-margin);
        align-self: start;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    .wp-block-media-text__media {
        align-self: auto;
    }

    .wp-block-media-text__media,
    .wp-block-image {

        img {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;

        }

    }
}

.wp-block-columns {

    .person {

        img {
            height: 300px;
            max-height: 300px;
        }
    }
}

/* Unterhalb von 1400 px: Person-Columns auf volle Breite */
@media (max-width: 1400px) {

    body #content .wp-block-columns:has(.columns-with-person),
    .columns-with-person {
        width: 100%;
        max-width: 100%;
    }
}
