@use "sass:map";

.wp-block-pullquote {

    p {
        font-size: 21px;
        line-height: 150%;

        @include media-breakpoint-up(md) {
            font-size: 25px;
        }
    }
}

.wp-block-pullquote {
    padding: var(--grid-margin) 0;

    blockquote {
        color: map.get($custom-colors, "tanne");
        text-align: left;
        margin: calc(var(--grid-margin) + 4px) 0 var(--grid-margin) 0;
    }

    cite {
        margin-top: var(--grid-margin);
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 1.2px;
        color: map.get($custom-colors, "klee");

        @include media-breakpoint-down(xl) {
            font-size: 16px;
            line-height: 150%;
        }
    }
}
