.wp-block-quote{ 
    padding: 2em;
    p{
        @include themed() {
            font-family: t('headingFontBold');
        }
        font-size: 23px;
        position: relative;
    }
    cite{
        font-style: normal;
        font-size: $small-font-size;
    }
}