.wp-block-quote{ 
    padding: 2em;
    p{
        font-family: ArvoGruen;
        font-size: 23px;
        position: relative;
        &:before{   
            content: '„';
            left: -0.5em;
        }
        &:after{   
            content: '“';
           
        }
    }
    cite{
        font-style: normal;
        font-size: $small-font-size;
    }
}