@use "sass:map";

.wp-block-rss {
    padding: 0;
    max-width: 600px;

    .wp-block-rss__item {
        border-radius: var(--border-radius-medium);
        margin-bottom: 10px;
        box-shadow: none;
        padding: calc(var(--grid-margin) - 5px) var(--grid-margin) var(--grid-margin) var(--grid-margin) !important;

        .rss-item-footer {
            margin-top: var(--half-grid-margin);

            .rss-icon {
                color: map.get($custom-colors, "klee");
                font-size: 1.2em;
                font-family: ForkAwesome;
                bottom: -5px;
                position: relative;
            }
        }

        .continue-reading {
            line-height: 100%;
            color: map.get($custom-colors, "klee") !important;
            display: flex;
            align-items: center;
            gap: 10px;

            &::after {
                content: "";
                display: inline-block;
                width: 23px;
                height: 20px;
                mask-image: url("assets/img/arrow-right.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
                -webkit-mask-image: url("assets/img/arrow-right.svg");
                -webkit-mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-position: center;
                background-color: map.get($custom-colors, "klee");
                transition: background-color 0.3s ease, transform 0.3s ease;
            }

            &:hover {

                &::after {
                    transform: translateX(3px);
                }
            }
        }


        &:nth-of-type(odd) {
            background-color: map.get($custom-colors, "sand") !important;
        }

        &:nth-of-type(even) {
            background-color: map.get($custom-colors, "gruener-sand") !important;
        }

        a {
            text-decoration: none;
        }

        &-title {

            font-weight: 700;
            font-size: 25px;
            margin-bottom: 0 !important;

            @include media-breakpoint-up(md) {
                font-size: 27px;
            }


            a {
                color: map.get($custom-colors, tanne) !important;
            }
        }

        time {
            margin-bottom: var(--half-grid-margin) !important;
            color: map.get($custom-colors, tanne) !important;
        }
    }

    .entry {

        &-header {
            padding-bottom: 0 !important;
        }

        &-content {

            a {
                color: $body-color;
                font-weight: 500;
                padding: 0 !important;
            }
        }
    }
}
