.styled-layout {

    h1,
    h2,
    h3,
    h4,
    .h1,
    .h2,
    .h3,
    .h4 {
        margin-top: 0;
    }

    .wp-block-group {
        padding-top: var(--half-block-spacing);
        padding-bottom: var(--half-block-spacing);

        .wp-block-group {
            padding-top: var(--gap-large);
            padding-bottom: var(--gap-large);
        }

        &.wp-block-group-is-layout-flow > h2,
        .wp-block-group__inner-container > h2 {
            margin-bottom: var(--double-grid-margin);
        }

        h1,
        h2,
        h3,
        h4,
        .h1,
        .h2,
        .h3,
        .h4 {
            margin-top: 0;
        }

    }

    .site-main {
        margin-bottom: 0;
    }

}
