.styled-layout {

    h1,
    h2,
    h3,
    h4,
    .h1,
    .h2,
    .h3,
    .h4 {
        margin-top: 40px;
    }

    .wp-block-group {
        padding-top: 100px;
        padding-bottom: 100px;

        .wp-block-group {
            padding-top: 0;
            padding-bottom: 0;
        }

        @include media-breakpoint-down(md) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &.wp-block-group-is-layout-flow > h2,
        .wp-block-group__inner-container > h2 {
            margin-bottom: 70px;
        }

        h1,
        h2,
        h3,
        h4,
        .h1,
        .h2,
        .h3,
        .h4 {
            margin-top: 0;
        }

    }

    .site-main {
        margin-bottom: 0;
    }

}
