.styled-layout{
    .wp-block-group{
        padding: 100px 10px;

        .wp-block-group__inner-container>h2{
            margin-bottom: 70px;
        }
    }

    .site-main{
        margin-bottom: 0px;
    }
}

.site-main{
    margin-bottom: 50px;
}
