.styled-layout {

    .wp-block-group {
        padding: 100px 10px;

        @include media-breakpoint-down(md) {
            padding: 50px 10px;
        }

        .wp-block-group__inner-container > h2 {
            margin-bottom: 70px;
        }
    }

    .site-main {
        margin-bottom: 0;
    }
}
