@font-face {
	font-family: GrueneType;
	src: url("../fonts/GrueneType-BlackCondensedItalic.woff2") format("woff2"), url("../fonts/GrueneType-BlackCondensedItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: url('../fonts/pt-sans-v17-latin_latin-ext-regular.woff2') format('woff2'), url('../fonts/pt-sans-v17-latin_latin-ext-regular.ttf') format('truetype');
	font-stretch: normal;
}

@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	font-display: fallback;
	src: url('../fonts/pt-sans-v17-latin_latin-ext-italic.woff2') format('woff2'), url('../fonts/pt-sans-v17-latin_latin-ext-italic.ttf') format('truetype');
	font-stretch: normal;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: url('../fonts/pt-sans-v17-latin_latin-ext-700.woff2') format('woff2'), url('../fonts/pt-sans-v17-latin_latin-ext-700.ttf') format('truetype');
	font-stretch: normal;
}

@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	font-display: fallback;
	src: url('../fonts/pt-sans-v17-latin_latin-ext-700italic.woff2') format('woff2'), url('../fonts/pt-sans-v17-latin_latin-ext-700italic.ttf') format('truetype');
	font-stretch: normal;
}


.editor-styles-wrapper {
	font-family: "PT Sans", sans-serif;
	font-size: 1.1875rem;
	line-height: 1.5;
}

.wp-block-column-is-layout-flow {
	height: 100%;
}

.wp-block-media-text.person {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.wp-block-media-text.person .person-name {
	font-size: 30px;
	font-weight: 700;
}

.wp-block-media-text.person .person-name {
	font-family: "GrueneType";
}

.wp-block-media-text.person .h4 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 1rem;
}

.wp-block-media-text.person .h4 {
	font-family: "GrueneType";
}

.wp-block-media-text.person .wp-block-media-text__content {
	padding: 20px;
	align-self: start;
	width: 100%;
	height: 100%;
	background: #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.wp-block-media-text.person .wp-block-media-text__media {
	align-self: auto;
}

.wp-block-media-text.person .wp-block-media-text__media img,
.wp-block-media-text.person .wp-block-image img {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 100%;
}

.wp-block-media-text.person .wp-block-media-text__media figcaption,
.wp-block-media-text.person .wp-block-image figcaption {
	font-size: 15px;
	text-align: right;
}

.d-flex .wp-block-group__inner-container {
	display: flex !important;
}

.has-shadow {
	box-shadow: 0 1px 20px rgba(0, 84, 55, 0.09);
}

.wp-block-sunflower-meta-data {
	margin: 0 !important;
}

.wp-block-sunflower-meta-data i {
	color: inherit;
	margin-right: 1em;
}


.wp-block-sunflower-meta-data p.rich-text {
	margin: 0;
}

.sunflower-admin-hint {
	text-align: center;
	background-color: #e6007e;
	padding: 10px;
	color: white;
	font-size: 200%;
	border-radius: 15px;
}

.wp-block-button__link {
	font-family: "PT Sans", sans-serif;
	background-color: #008939;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	border-radius: 3px;
}

.wp-block-pullquote {
	border-top: 0;
	border-bottom: 0;
}

.wp-block-media-text.person .wp-block-media-text__media img,
.wp-block-media-text.person .wp-block-image img {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 100%;
}

.no-link {
	color: inherit;
	text-decoration: none;
}

.no-link:hover {
	color: #008939;
}

.no-link a {
	color: inherit;
	text-decoration: none;
}

.editor-styles-wrapper h1.wp-block,
.editor-styles-wrapper h2.wp-block,
.editor-styles-wrapper h3.wp-block,
.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3 {
	font-family: "GrueneType";
}

.editor-styles-wrapper h1,
.editor-styles-wrapper .h1,
.editor-styles-wrapper .has-huge-font-size {
	font-size: 36px;
	line-height: 1.2em;
}

.editor-styles-wrapper h2,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .has-large-font-size {
	font-size: 27px;
	line-height: 1.2em;
}

.editor-styles-wrapper h3,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .has-medium-font-size {
	font-weight: 700;
	font-size: 25px;
}

.editor-styles-wrapper .has-white-background-color .h1,
.h2,
.h3 {
	color: #005437;
}


@media (min-width: 768px) {

	.wrap h1,
	h1 .h1,
	.has-huge-font-size {
		font-size: 45px;
		line-height: 1.3em;
		margin-top: 0;
	}

	h2,
	.h2,
	.has-large-font-size {
		font-size: 31px;
		line-height: 1.3em;
		margin-top: 0;
	}

	h3,
	.h3,
	.has-medium-font-size {
		font-size: 27px;
		margin-top: 0;
	}

	h4,
	.h4 {
		font-size: 27px;
		margin-top: 0;
	}

	h5,
	.h5 {
		font-size: 25px;
		margin-top: 0;
	}

	h6,
	.h6 {
		font-size: 22px;
		margin-top: 0;
	}
}

.styled-layout .wp-block-group {
	padding-top: 100px;
	padding-bottom: 100px;
}

/* Main column width */
.wp-block {
	max-width: 860px;
}

/* Width of "wide" blocks */
.wp-block[data-align='wide'] {
	max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align='full'] {
	max-width: none;
}

.same-height .wp-block-column .wp-block-image img {
	max-height: 200px;
}

@media (min-width: 1200px) {
	.same-height .wp-block-column .wp-block-image img {
		max-height: 230px;
	}

	.wp-block-column {
		margin-bottom: 0;
	}
}

.wp-block-column img {
	width: 100%;
	object-fit: cover;
	border-radius: 3px;
}

.wp-block-image img {
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

p a {
	color: #008939;
	text-decoration: none;
}

.notice .h3 {
	font-size: 120%;
	margin: 3px 0 0 0;
}

/* customize RSS block */
.wp-block-rss {
	padding: unset;
}

.wp-block-rss .wp-block-rss__item {
	border-radius: 3px;
	margin-bottom: 10px;
	box-shadow: 0 1px 20px rgba(0, 84, 55, 0.09);
	padding: 2.25rem !important;
}

.wp-block-rss .wp-block-rss__item a {
	text-decoration: none;
}

.wp-block-rss .wp-block-rss__item-title {
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 1rem;
}

.theme--default .wp-block-rss .wp-block-rss__item-title {
	font-family: "PT Sans", sans-serif;
}

.theme--contrast .wp-block-rss .wp-block-rss__item-title {
	font-family: "PT Sans", sans-serif;
}

@media (min-width: 768px) {

	.wp-block-rss .wp-block-rss__item-title {
		font-size: 27px;
	}
}

.wp-block-rss .wp-block-rss__item-title a {
	color: #212529;
}

.wp-block-rss .wp-block-rss__item time {
	margin-bottom: 1rem !important;
	font-size: unset;
}

.wp-block-rss .entry-header {
	padding-bottom: 0 !important;
}

.wp-block-rss .entry-content a {
	color: #212529;
}

/* add textbalken */
.editor-styles-wrapper h1.textbalken,
.editor-styles-wrapper .textbalken.h1,
.editor-styles-wrapper h2.textbalken,
.editor-styles-wrapper .textbalken.h2,
.editor-styles-wrapper h3.textbalken,
.editor-styles-wrapper .textbalken.h3,
.editor-styles-wrapper h4.textbalken,
.editor-styles-wrapper .textbalken.h4,
.editor-styles-wrapper h5.textbalken,
.editor-styles-wrapper .textbalken.h5,
.editor-styles-wrapper h6.textbalken,
.editor-styles-wrapper .textbalken.h6,
.editor-styles-wrapper .h1.textbalken,
.editor-styles-wrapper .h2.textbalken,
.editor-styles-wrapper .h3.textbalken,
.editor-styles-wrapper .h4.textbalken,
.editor-styles-wrapper .h5.textbalken,
.editor-styles-wrapper .h6.textbalken {
	margin-bottom: 0;
	padding: 0 1em;
}

.has-background.textbalken {
	z-index: 0;
	width: fit-content;
	line-height: 150%;
	position: relative;
	text-transform: uppercase;
}

.editor-styles-wrapper .has-background.textbalken {
	font-family: "GrueneType";
}

.has-background.textbalken::before {
	background: inherit;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -9px;
	z-index: -1;
	transform: skew(-12deg);
	transform-origin: bottom;
}

.has-background.textbalken.links-eins {
	left: 1em;
}

@media (max-width: 767.98px) {
	.has-background.textbalken.links-eins {
		left: 0.5em;
	}
}

.has-background.textbalken.links-zwei {
	left: 3em;
}

@media (max-width: 767.98px) {
	.has-background.textbalken.links-zwei {
		left: 2.5em;
	}
}

.wp-block-columns.no-gap.is-layout-flex {
	gap: 0;
}

.wp-block-columns .wp-block-column p.textbalken,
.wp-block-columns .wp-block-column ul.textbalken {
	padding: 0 0.5em;
}

.stoerer {
	width: 200px;
	height: 200px;
	font-size: 30pt;
	font-family: GrueneType !important;
	padding: 8pt;
	border-radius: 50%;
	line-height: 100%;
	color: #fff;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background: #0ba1dd;
	-moz-transform: rotate(-7deg);

	/* Firefox 3.6 Firefox 4 */
	-webkit-transform: rotate(-7deg);

	/* Safari */
	-o-transform: rotate(-7deg);

	/* Opera */
	-ms-transform: rotate(-7deg);

	/* IE9 */
	transform: rotate(-7deg);

	/* W3C */
	position: relative;
	left: 20rem;
	top: 5rem;
}

@media (max-width: 767.98px) {

	.stoerer {
		left: 8rem;
		top: 2rem;
	}
}

/* styled layout */
.styled-layout .wp-block-group {
	padding-top: 100px;
	padding-bottom: 100px;
}

@media (max-width: 767.98px) {
	.styled-layout .wp-block-group {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.styled-layout .wp-block-group.wp-block-group-is-layout-flow>h2,
.styled-layout .wp-block-group.wp-block-group-is-layout-flow>.h2,
.styled-layout .wp-block-group .wp-block-group__inner-container>h2,
.styled-layout .wp-block-group .wp-block-group__inner-container>.h2 {
	margin-bottom: 70px;
}

.styled-layout .site-main {
	margin-bottom: 0;
}

/* next-events block */
.wp-block-group {
	position: relative;
}

.wp-block-group__inner-container {
	max-width: 1200px;
	position: relative;
}

.next-events {
	background-image: url("../img/jeb-buchman-NjrjrdJE8As-unsplash-1.jpg");
	background-size: cover;
	background-position: top;
	flex-direction: column;
}

.sunflower-has-background-dim>* {
	z-index: 30;
}

.sunflower-has-background-dim::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 20;
	opacity: 0.3;
	background-color: #000;
}

.wp-block-group.alignfull.has-background {
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	padding-left: 5vw;
	padding-right: 5vw;
}

.bg-white {
	background-color: #fff;
}
