/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-example-static {
	border: 5px dotted rgb(160, 57, 19);

    color: white;
    // border: 2px solid #f5f1e9;
    background: #005437;
    padding: 30px 20px 20px 30px;
    background-image: url('/assets/img/sunflower.svg');
    background-repeat: no-repeat;
    background-position: 2px 2px;
    background-size: 32px;

}
