/**
 * The following styles get applied inside the editor only.
 *
 * Try to style the editor accordion like in the frontend without bootstrap
 */

@use "../../sass/variables";

.wp-block-sunflower-meta-data {

    margin: var(--half-grid-margin);

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    a {
        text-decoration: none;
        color: variables.$body-color;

        &.is-empty {
            opacity: 0.6;
        }

    }


}

.d-flex:has(.wp-block-sunflower-meta-data) {
    display: flex !important;
}
