/**
 * The following styles get applied inside the editor only.
 *
 * Try to style the editor accordion like in the frontend without bootstrap
 */

@import "../../sass/variables";

.wp-block-sunflower-meta-data {

    a {
        text-decoration: none;
        color: $body-color;

        &.text-danger {
            color: #f00;
        }

    }


}

.d-flex:has(.wp-block-sunflower-meta-data) {
    display: flex !important;
}
