@use "sass:map";


.entry-content {

    > .wp-block-buttons {
        margin-top: var(--half-block-spacing);
        margin-bottom: var(--half-block-spacing);
    }
}

.wp-block-buttons {
    gap: var(--grid-margin) !important;
    column-gap: var(--grid-margin) !important;
}
