button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: $color__border-button;
    line-height: 1;
    padding: 0.6em 1em 0.4em;

    @include themed-colorscheme-nested() {
    background-color: t(btn-pr-background);
    color: t(btn-pr-text);
    }

    &:hover {
        border-color: $color__border-button-hover;
         @include themed-colorscheme-nested() {
        background-color: t(btn-pr-background);
        color: t(btn-pr-text);
    }
    }

    &:active,
    &:focus {
        border-color: $color__border-button-focus;
    }
}
