@use "sass:map";


.entry-content {

    > .wp-block-buttons {
        margin-top: var(--grid-margin);
        margin-bottom: var(--grid-margin);
    }
}

.wp-block-buttons {
    gap: var(--grid-margin) !important;
    column-gap: var(--grid-margin) !important;
}
