@use "sass:map";

a {
    color: $color__link;

    &:visited {
        color: $color__link-visited;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }

    &:focus {
        outline: auto;
    }

    &:focus-visible {
        outline: #005437 solid 2px;
        outline-offset: 2px;
    }

    &.text-white {

        &:focus-visible {
            outline: #fff solid 2px;
        }
    }

    &:hover,
    &:active {
        outline: 0;
    }

}

.entry-content p a:not(.wp-block-button__link) {
    color: map.get($custom-colors, "klee");
    transition: 300ms ease-out;
    font-weight: 700;

    &:hover {
        color: map.get($custom-colors, "tanne") !important;
    }
}

// avoid link underline as of WordPress 6.6
:root :where(a:where(:not(.wp-element-button))) {
    text-decoration-line: none;
}

.wp-block-rss__item a,
a.wp-block-read-more,
.wp-block-comment-author-name a,
.wp-block-comment-edit-link a,
.wp-block-loginout a,
.comment-respond a,
.comment-edit-link a {
    font-weight: 700;
}
