a {
    color: $color__link;
    font-weight: 700;

    &:visited {
        color: $color__link-visited;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }

    &:focus {
        outline: auto;
    }

    &:focus-visible {
        outline: #005437 solid 2px;
        outline-offset: 2px;
    }

    &.text-white {

        &:focus-visible {
            outline: #fff solid 2px;
        }
    }

    &:hover,
    &:active {
        outline: 0;
    }

}

// avoid link underline as of WordPress 6.6
:root :where(a:where(:not(.wp-element-button))) {
    text-decoration-line: none;
}
