/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

img {
    height: auto; // Make sure images are scaled correctly.
    max-width: 100%; // Adhere to container width.

    &.no-creator {
        filter: blur(11px);
        transition: filter 0.3s ease;
    }
}

.is-vertical {

    figure {

        @include margin-vert;
    }
}


.wp-block-gallery {
    padding: var(--half-block-spacing) 0;
}
