body {
    color: #00354e;
}

h1, h2, h3 {
   color: #e50064;
}

.wy-side-nav-search {
   background-color: #e50064;
}

.wy-side-nav-search input[type=text]{
   border: 0;
}

.section img{
   border: 1px solid #eef4f8;
}

.caption-text {
    color: #ffffff;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: underline 4px #e50064;
}

.rst-versions .rst-current-version {
    background-color: #a00057;
}

.wy-nav-side {
    background-color: #00354e;
}

.wy-menu-vertical a {
    color: #eef4f8;
}

.wy-menu-vertical li span.toctree-expand {
    color: #eef4f8;
}

.wy-menu-vertical a:hover {
    background-color: #005873;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    color: #00354e;
    background: #eef4f8;
}

.wy-menu-vertical li.current {
    background: #dce8ef;
}

.wy-menu-vertical li.current a:hover {
    background: #9bbbcd;
}

.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a {
    color: #000000;
}


.wy-menu-vertical li.toctree-l2.current>a {
    background: #7ca6bc;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: #7ca6bc;
}

.wy-menu-vertical li.toctree-l2 span.toctree-expand {
    color: #00354e;
}

.wy-menu-vertical li.on a span.toctree-expand, .wy-menu-vertical li.current>a span.toctree-expand {
    color: #00354e;
}

.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand {
    color: #00354e;
}


.wy-nav-content a {
    color: #a00057;
}

.wy-nav-content a:hover {
    color: #e60064;
}

.wy-nav-content a:visited {
    color: #a00057;
}

hr {
    border-top: 1px solid #e60064;
}

.btn-neutral {
    background-color: #e50064 !important;
    color: #ffffff !important;
}

.btn-neutral:visited {
    color: #ffffff !important;
}

.btn-neutral:hover {
    background-color: #a00057 !important;
}

footer {
    color: #00354e;
}
