h1, h2, h3 {
   color: #46962b;
}

.wy-side-nav-search {
   background-color: #46962b;
}

.wy-side-nav-search input[type=text]{
   border: 0;
}

.section img{
   border: 1px solid #e9e9e9;
}

.caption-text{
   color: green;
}
