body {
    color: #00354e;
}

h1, h2, h3 {
   color: #008939;
}

.wy-side-nav-search {
   background-color: #005437;
   background-image: url("img/Sonnenblume_Logo.svg");
   background-repeat: no-repeat;
   background-size: 150px;
   background-position: 12.8em -3.7em;
}

.wy-side-nav-search input[type=text]{
   border: 0;
}

.section img{
   border: 1px solid #F5F1E9;
}

.caption-text {
    color: #ffffff;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: underline 4px #008939;
}

.rst-versions .rst-current-version {
    background-color: #005437;
}

.wy-nav-side {
    background-color: #005437;
}

.wy-menu-vertical a {
    color: #FFFFFF;
}

.wy-menu-vertical a:hover {
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(to bottom right,transparent 0 50%,#00432C 50% 100%),linear-gradient(#00432C,#00432C),linear-gradient(to top left,transparent 50%,#00432C 50%);
    background-size: calc(calc(0.8em / 100* 22.5)) calc(0.8em),calc(100% - calc(0.8em / 100* 22.5) * 2 + .5px) 0.8em,calc(calc(0.8em / 100* 22.5)) 0.8em;
    background-position: 0 100%,bottom,100% 100%;
    background-repeat: no-repeat;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.wy-menu-vertical li span.toctree-expand {
    color: #F5F1E9;
}

.wy-menu-vertical a:hover {
    background-color: #005437;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    color: #005437;
    background: #F5F1E9;
}

.wy-menu-vertical li.current {
    background: #F5F1E9;
}

.wy-menu-vertical li.current a:hover {
    background: #A1CA50;
}

.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a {
    color: #000000;
}


.wy-menu-vertical li.toctree-l2.current>a {
    background: #A1CA50;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: #A1CA50;
}

.wy-menu-vertical li.toctree-l2 span.toctree-expand {
    color: #005437;
}

.wy-menu-vertical li.on a span.toctree-expand, .wy-menu-vertical li.current>a span.toctree-expand {
    color: #005437;
}

.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand {
    color: #000000;
}


.wy-nav-content a {
    color: #005437;
    text-decoration: underline;
}

.wy-nav-content a:hover {
    color: #005437;
    background-color: transparent;
    background-image: linear-gradient(to bottom right,transparent 0 50%,#FFF17A 50% 100%),linear-gradient(#FFF17A,#FFF17A),linear-gradient(to top left,transparent 50%,#FFF17A 50%);
    background-size: calc(calc(0.8em / 100* 22.5)) calc(0.8em),calc(100% - calc(0.8em / 100* 22.5) * 2 + .5px) 0.8em,calc(calc(0.8em / 100* 22.5)) 0.8em;
    background-position: 0 100%,bottom,100% 100%;
    background-repeat: no-repeat;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.wy-nav-content a:visited {
    color: #005437;
}

hr {
    border-top: 1px solid #008939;
}

.btn-neutral {
    background-color: #008939 !important;
    color: #ffffff !important;
}

.btn-neutral:visited {
    color: #ffffff !important;
}

.btn-neutral:hover {
    background-color: #005437 !important;
    background-image: none !important;
}

.btn-neutral a:hover{
    color: red;
}

footer {
    color: #000000;
}
