/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or keep the empty file.
 */

@use "sass:map";
@use "../../sass/variables" as *;

.wp-block-sunflower-contact-form {

    border: none;
    background-color: map.get($custom-colors, "sand");
    color: map.get($custom-colors, "tanne");
    padding: var(--double-grid-margin) var(--half-grid-margin) var(--grid-margin) var(--half-grid-margin);

    #sunflower-contact-form {

        justify-content: flex-end;

        .col-12 {

            .input-with-icon i {
                color: map.get($custom-colors, "tanne");
            }

            *:focus-visible {
                box-shadow: none;
            }

            padding: 0 var(--half-grid-margin);
            margin-bottom: var(--double-grid-margin);

            &:nth-of-type(1) {

                p {
                    height: 100%;
                }

                textarea {
                    min-height: 100%;
                }
            }

            > :first-child {
                margin-top: 0 !important;
            }

            .comment-form-author,
            .comment-form-email {
                margin-bottom: 1rem;
            }
        }

        .small:nth-of-type(2) {
            margin: 0 !important;
        }

        .form-submit {
            position: relative;
            width: fit-content;
            right: var(--half-grid-margin);
            margin-bottom: 0;

            input {
                letter-spacing: 2px;
            }
        }

        &.is-feedback {
            justify-content: center;
            text-align: center;
        }
    }

}
