# .github/workflows/release.yml

name: Build Sunflower 3.0 and Deploy Beta release

on:
  release:
    types: [published]


env:
  NODE_VERSION: 24

jobs:
  build:
    runs-on: ubuntu-latest

    if: |
      ${{
        startsWith(github.event.release.tag_name, 'v') &&
        ( contains(github.event.release.tag_name, '-alpha') ||
        contains(github.event.release.tag_name, '-beta') ||
        contains(github.event.release.tag_name, '-rc') )
      }}

    steps:
      - uses: actions/checkout@v4

      - name: check theme version against tag
        run: |
            THEME_VERSION=$(cat sass/style.scss | grep Version | sed -r 's/version: +//I')
            V="v"
            echo Version in style.scss: $THEME_VERSION
            if [ "$V$THEME_VERSION" != "${{ github.event.release.tag_name }}" ]; then exit 1; fi

      - uses: actions/setup-node@v4
        with:
            node-version: ${{ env.NODE_VERSION }}

      - name: Cache node_modules directory
        uses: actions/cache@v4
        id: npm-cache-dir
        with:
            path: node_modules
            key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
            restore-keys: |
                ${{ runner.os }}-node-

      - name: Install npm packages
        if: steps.npm-cache-dir.outputs.cache-hit != 'true'
        run: npm ci

      - name: Lint SCSS
        run: npm run lint:scss

      - name: Build CSS
        run: npm run compile:css

      - name: Build CSS-RTL
        run: npm run compile:rtl

      - name: Lint JS
        run: npm run lint:js

      - name: Build JS
        run: npm run build

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
            php-version: 8.4
            tools: cs2pr

      - name: run install composer
        run: |
            composer install
            cd lib && composer install

      - name: Run PHPCS checks
        id: phpcs
        continue-on-error: true
        run: vendor/bin/phpcs --report-full --report-checkstyle=./phpcs-report.xml .

      - name: Show PHPCS results in PR
        if: ${{ always() && steps.phpcs.outcome == 'failure' }}
        run: cs2pr ./phpcs-report.xml

      - name: Make bundle
        run: npm run copy-node-modules

      - name: fail on fork
        if: github.repository_owner != 'verdigado'
        run: exit 1

      - name: Rename ZIP file
        run: |
            cd ..
            cp -r sunflower /tmp/sunflower26
            cd /tmp/
            zip -r $HOME/sunflower26.zip sunflower26 -x @sunflower26/exclude.lst
            cd $HOME
            mv sunflower26.zip $HOME/sunflower-${{ github.event.release.tag_name }}.zip

      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
            artifacts: '$HOME/sunflower-${{ github.event.release.tag_name }}.zip'
            makeLatest: false
            prerelease: true
            allowUpdates: true
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Provide deploy_key
        env:
            DEPLOY_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
            SSH_USER: 'github-ci'
            SSH_HOST: 'wordpress05.gcms.verdigado.net'
        run: |
            mkdir "$HOME/.ssh"
            echo "$DEPLOY_KEY" > "$HOME/.ssh/production.key"
            chmod 600 "$HOME/.ssh/production.key"
            cat >> ~/.ssh/config <<END
            Host production
              HostName $SSH_HOST
              User $SSH_USER
              IdentityFile ~/.ssh/production.key
              StrictHostKeyChecking no
            END

      - name: save version
        run: echo ${{ github.event.release.tag_name }} > version_beta.txt

      - name: rsync zipfile
        run: |
            rsync -a $HOME/sunflower-${{ github.event.release.tag_name }}.zip version_beta.txt changelog.html production:/var/www/updateserver/sunflower26/

  mkdocs:
    runs-on: ubuntu-latest
    needs: build
    steps:
        - uses: actions/checkout@v4

        - name: mkdocs build
          uses: Tiryoh/actions-mkdocs@v0
          with:
              mkdocs_version: 'latest' # option
              # mkdocs_version: '1.1' # option
              requirements: 'mkdocs/requirements.txt' # option
              configfile: 'mkdocs/mkdocs.yml' # option

        - name: Provide deploy_key
          env:
              DEPLOY_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
              SSH_USER: 'github-ci'
              SSH_HOST: 'wordpress05.gcms.verdigado.net'
          run: |
              mkdir "$HOME/.ssh"
              echo "$DEPLOY_KEY" > "$HOME/.ssh/production.key"
              chmod 600 "$HOME/.ssh/production.key"
              cat >> ~/.ssh/config <<END
              Host production
                HostName $SSH_HOST
                User $SSH_USER
                IdentityFile ~/.ssh/production.key
                StrictHostKeyChecking no
              END

        - name: rsync documentation
          run: rsync -a --delete documentation/* production:/var/www/documentation26/
